// Increased specificity to override blocks default margin.
.wp-block-mmoollllee-buttons .wp-block-mmoollllee-button {
   display: inline-block;
   margin-right: 0.5em;
   margin-bottom: 0.5em;

   &:last-child {
      margin-right: 0;
   }
}

.wp-block-mmoollllee-buttons.alignright .wp-block-mmoollllee-button {
   /*rtl:ignore*/
   margin-right: 0;
   /*rtl:ignore*/
   margin-left: 0.5em;

   &:first-child {
      margin-left: 0;
   }
}

.wp-block-mmoollllee-buttons.alignleft .wp-block-mmoollllee-button {
   /*rtl:ignore*/
   margin-left: 0;
   /*rtl:ignore*/
   margin-right: 0.5em;

   &:last-child {
      margin-right: 0;
   }
}

.wp-block-mmoollllee-button.aligncenter, // This is to support the legacy Button block.
.wp-block-mmoollllee-buttons.aligncenter {
   text-align: center;
}
