.fancybox-container .d-none {
   display: inline-block !important;
}

.fancybox-stage .fancybox-content {
   max-width: 1000px !important;
}

.fancybox-stage .fancybox-slide--image .fancybox-content {
   max-width: initial !important;
}