#togglebuttons .button {
   display: block;
}
 
.toggle {
  display: none;
}

.toggle.active {
  display: block
}

.button.active[data-toggle],
.button.active[data-toggle] * {
  color: #666666;
  pointer-events: none;
  cursor: default
}