h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
   margin: 0;
   width: 100%;
   line-height: 1;
   padding-top: 0;
   padding-bottom: 0;
   display: block;
}

p,
h1,
h2,
h3,
h4 {
   -webkit-hyphens: auto;
   -moz-hyphens: auto;
   -ms-hyphens: auto;
   hyphens: auto;
}

main p {
   line-height: 1.5;
   margin: 0 0 1em;
}

button {
   -webkit-appearance: none;
   appearance: none;
   padding: 0;
   margin: 0;
   background: 0 0;
   color: inherit;
   border: 0 none;
   cursor: pointer;
}

h1,
.h1 {
   font-weight: 400;
   font-size: 1.8rem;

   @include media-breakpoint-up(s) {
      font-size: 2.5em;
   }

   @include media-breakpoint-up(lg) {
      font-size: 4em;
   }

   span:not(:last-of-type):after {
      display: block;
      content: '';
   }
}

h2,
.h2 {
   color: $secondary;
   font-weight: 800;
   font-size: 1.8rem;
   margin-left: -0.07em;

   @include media-breakpoint-up(md) {
      font-size: 2.2rem;
   }

   @include media-breakpoint-up(lg) {
      font-size: 3rem;
   }

   small {
      font-size: 1rem;
      font-weight: 300;
      display: block;
   }
   a {
      text-decoration: none;
   }
}

h3,
.h3 {
   color: $dark-blue;
   font-weight: 600;
   font-size: 1.5rem;
   margin-bottom: .8em;

   .aktuelles &,
   .category & {
      font-size: 2em;
      font-weight: 800;
      color: $secondary;
      padding-top: 0;

      &:hover {
         color: $dark-blue
      }
   }
      
   .aktuelles & {
      padding-top: 0.1em;
      padding-bottom: 0.3em;
   }

   @include media-breakpoint-up(md) {
      .aktuelles &,
      .category & {
         font-size: 2.5em;
      }
      
      .aktuelles & {
         padding-top: 0.5em;
         padding-bottom: 0.4em;
      }
   }
}

h4,
.h4 {
   color: $dark-blue;
   font-size: 1.2rem;
   font-weight: 600;
   margin-bottom: .5em;
}

h5,
.h5 {
   color: inherit;
   font-size: 1rem;
   font-weight: 600;
}

.thumbnail-box,
.box {
   h4,
   .h4 {
      color: secondary;
      font-size: 1em;
      font-weight: 600;
      margin-top: .5em
   }
}

a {

   &:hover {
   }

   &[data-icon-left],
   &[data-icon-right] {
      text-decoration: none;
   }
}

a {
   color: inherit;
   text-decoration: none;

   &:hover {
      color: $grey
   }
}

p a:not([class]),
a>small {
  color: $grey;
  text-decoration: underline;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  &:hover {
   text-decoration: none
  }
}

footer p a:not([class]) {
  color: inherit
}

small,
.small {
   font-size: 90%;
   color: $grey;
   &[data-icon-left] {
     margin-left: 1em 
   }
}

.more-link,
.button  {
   cursor: pointer;

   &:hover {
      background-color: #e8e8e8;
   }
}

i[class^='icon-']:before {
   bottom: -0.16em;
}

.more-link {
   cursor: pointer;

   &:hover {
   }

   &:after {
      content: '\63';
      @extend %icon-font-stuff;
      margin-left: 0.4em;
      bottom: -0.2em;
   }
}

.untertitel {
   margin: 0.4em 0;
   line-height: 1.2;
   font-size: 1.1rem;
   font-weight: 400;
   color: #000;
   display: block;
   @include media-breakpoint-up(md) {
      font-size: 1.3rem;
   }

   #page-header & {
      margin-bottom: 0;
   }

   #page-header & {
      color: #fff
   }

   p {
      margin-bottom: 0;
      color: inherit;
   }

   nav {
      a {
         position: relative;
         margin-right: 1em;
         &:after {
            top: 60%;
            font-size: 0.8em;
         }
         &[href^="http"]:after {
            content: "c"
          }
      }
   }
}

aside {
   h3 {
      font-size: 1.2rem;
   }
}
