.logo img {
   max-width: 100%;
}

.menu {
   padding: 0;
   list-style: none;
   margin-bottom: 0;

   &:not(.container) {
      margin: 0;
      padding: 0;
   }

   & > li {
      width: auto;
      padding-right: 15px;

      a {
         text-decoration: none;
         color: inherit;
         transition: 0.3s all;
         color: $light-blue;
         font-weight: 800;
         position: relative;
         margin-right: 1em;

         &:after {
            @extend %icon-font-stuff;
            content: "e";
            bottom: -.2em;
         }

         &:hover, &.is-hover {
            color: $secondary
         }
      }

      .sub-menu {
         list-style: none;
         padding: 0;

         a {
            color: #fff;
            font-weight: 400;
            white-space: nowrap;

            &:after {
               content: ''
            }

            &:hover {
               color: $grey
            }
         }
      }
   }
}

#header .menu {
   display: flex;

   @media (min-width:1100px) {
      justify-content: space-between;
   }

   & > li {

      .sub-menu {
         max-width: 0;
         opacity: 0;
         max-height: 3em;
         overflow: hidden;
         transition: 1s max-height, 1s max-width, 1s opacity;
         padding-bottom: 10px;

         @media (min-width:1050px) {
            opacity: 1;
            max-width: 9.5em;
         }

         @media (min-width: 1100px) {
            max-width: 50em;
         }
      }

      &:hover, &.is-hover {
         .sub-menu {
            max-width: 50em;
            max-height: 50em;
            transition: 1s max-height, 1s max-width, 1s opacity;
            opacity: 1;
         }
      }
   }

   .scrolled & {

      .sub-menu {
         max-height: 0;
         opacity: 0;
      }

   }
}

#navtoggle {
   color: #fff;
   font-size: 2.5rem;
   padding: 0;
   margin-left: 1.15em;
}

/*
	Slideout Stuff
 */

// Wrapper needs Backgroud-Colour to overlay menu while animating
#wrapper {
   position: relative;
   z-index: 1;
   background-color: #fff;
   overflow: hidden;
   transition: opacity 0.5s;
}

// Standard-Look for Overlay
#responsivemenu {
   text-align: left;
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   width: 260px;
   min-height: 100vh;
   overflow-y: scroll;
   -webkit-overflow-scrolling: touch;
   z-index: 0;
   display: none;

   ul {
      list-style: none;
      padding-left: 0;

      &.menu {
         padding: 3rem 2rem;
         background:#3b3b3b url("../images/wall.jpg") repeat-x top;
         background-size: auto 100%;
      }

      li {
         margin-top: 15px;
         padding-right: 0;

         .sub-menu {

            li {
               margin-top: 0;
            }
         }
      }

      &.secondary-menu {
         padding: 2rem;
      }
   }
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
   overflow: hidden;
}

// Content Opacity while open
.slideout-open #wrapper > * {
   opacity: 0.5;
}

.slideout-open .slideout-menu {
   display: block !important;
}

// Slideout Icon for Closeing
.slideout-open #navtoggle:before {
   content: 'c';
}

#menu-footermenue {

   [class*="float-"] {
      padding-bottom: 1em;
      @include media-breakpoint-up(sm) {
         float: left;
         width: 50%;
      }
   }

   @include media-breakpoint-up(lg) {
      .float-3 {
         width: 39%;
      }

      .float-2 {
         width: 22%;
      }
   }
}