table {
   width: 100%;
   border-collapse: separate;
   margin-bottom: 1em;
   border: 0 none;
   width: auto;
   border-spacing: 0;

   pre {
      margin-bottom: 0;
   }

   tr {
      & > * {
         vertical-align: top;
         border: 0;
         padding: 0;
         padding: 0.2em 0.5em 0.2em 0;
         border: 0.5px solid transparent;
         text-align: left;

         &[rowspan] {
            border: 0 none;
            text-align: center
         }

         &.blue {
            background: $secondary !important;
            color: #fff !important
         }
      }
      th {
         font-weight: 400;
         text-decoration: underline;
      }
   }

   // depreciated .typ-1 ->> .daten
   &.typ-1,
   &.daten {
      font-size: 0.9em;
      line-height: 1.6;
      background: #fff;
      width: 100%;
      tr {
         & > *:first-child {
            text-align: right
         }
         &:first-of-type th:not(:first-of-type) {
            background: #fff;
            color: #000;
            text-align: center;
            font-weight: 600
         }
         & > * {
            background: #fff;
            border-color: $dark;
            padding: 0.2em 0.5em;
         }
         th {
            text-decoration: none;
            position: static;
            background: $secondary;
            color: #fff;
            font-weight: 600;
         }
         td {
            color: #000;
            text-align: center;
         }
      }
   }
}

table.codes-1 tr *:first-child {
  text-align: right;
  white-space: nowrap;
}

table.typ-2 tr *:first-child {
  white-space: nowrap;
}

.table-wrapper {
   overflow: scroll;
   max-width: 100%;
}
