// Variables

// Color system
$gray: $gray-600;

// Grid breakpoints
$grid-breakpoints: (
  xs: 0,
  s: 450px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  /* xxl: 1560px */
);

$template-path: '/app/themes/template';

// TODO: Move this somewhere else
// %underline {
//    position: relative;
//    &:before {
//       content: '';
//       width: 100%;
//       border-bottom: 2px solid $font-blue;
//       position: absolute;
//       bottom: -0.4rem;
//       transition: border-color 1s;
//    }
//    &:hover {
//       color: $font-blue;
//    }
//    &:hover:before {
//       border-color: #393939;
//    }
// }
