@charset "UTF-8";
@import url("https://p.typekit.net/p.css?s=1&k=oyc5jkv&ht=tk&f=26056.26058.26059.26062.26063.26064.44744.44746&a=749018&app=typekit&e=css");
.clear {
  clear: both; }

.h-1 {
  height: 2rem; }

.h-2 {
  height: 3rem; }

.h-3 {
  height: 4rem; }

.h-4 {
  height: 5rem; }

.h-5 {
  height: 6rem; }

.lh-2 {
  line-height: 2; }

.maxh-10 {
  max-height: 10rem !important; }

.maxh-20 {
  max-height: 20rem !important; }

.maxh-30 {
  max-height: 30rem !important; }

.maxh-40 {
  max-height: 40rem !important; }

.maxh-50 {
  max-height: 50rem !important; }

.maxh-10vw {
  max-height: 10vw !important; }

.maxh-20vw {
  max-height: 20vw !important; }

.maxh-30vw {
  max-height: 30vw !important; }

.maxh-40vw {
  max-height: 40vw !important; }

.maxh-50vw {
  max-height: 50vw !important; }

.maxh-60vw {
  max-height: 60vw !important; }

.maxh-70vw {
  max-height: 70vw !important; }

.maxh-80vw {
  max-height: 80vw !important; }

.maxh-90vw {
  max-height: 90vw !important; }

.maxh-100vw {
  max-height: 100vw !important; }

.minh-10 {
  min-height: 10rem !important; }

.minh-20 {
  min-height: 20rem !important; }

.minh-30 {
  min-height: 30rem !important; }

.minh-40 {
  min-height: 40rem !important; }

.minh-50 {
  min-height: 50rem !important; }

.h-10 {
  height: 10rem !important; }

.h-15 {
  height: 15rem !important; }

.h-20 {
  height: 20rem !important; }

.h-30 {
  height: 30rem !important; }

.h-40 {
  height: 40rem !important; }

.h-50 {
  height: 50rem !important; }

.mt--2 {
  margin-top: -2rem !important; }

.mt--3 {
  margin-top: -3rem !important; }

.mt--4 {
  margin-top: -4rem !important; }

.mt--8 {
  margin-top: -8rem !important; }

.mt--10 {
  margin-top: -10rem !important; }

.mt--11 {
  margin-top: -11rem !important; }

@media (min-width: 450px) {
  .maxh-s-10 {
    max-height: 10rem !important; }
  .maxh-s-20 {
    max-height: 20rem !important; }
  .maxh-s-30 {
    max-height: 30rem !important; }
  .maxh-s-40 {
    max-height: 40rem !important; }
  .maxh-s-50 {
    max-height: 50rem !important; }
  .maxh-s-10vw {
    max-height: 10vw !important; }
  .maxh-s-20vw {
    max-height: 20vw !important; }
  .maxh-s-30vw {
    max-height: 30vw !important; }
  .maxh-s-40vw {
    max-height: 40vw !important; }
  .maxh-s-50vw {
    max-height: 50vw !important; }
  .maxh-s-60vw {
    max-height: 60vw !important; }
  .maxh-s-70vw {
    max-height: 70vw !important; }
  .maxh-s-80vw {
    max-height: 80vw !important; }
  .maxh-s-90vw {
    max-height: 90vw !important; }
  .maxh-s-100vw {
    max-height: 100vw !important; }
  .minh-s-10 {
    min-height: 10rem !important; }
  .minh-s-20 {
    min-height: 20rem !important; }
  .minh-s-30 {
    min-height: 30rem !important; }
  .minh-s-40 {
    min-height: 40rem !important; }
  .minh-s-50 {
    min-height: 50rem !important; }
  .h-s-10 {
    height: 10rem !important; }
  .h-s-15 {
    height: 15rem !important; }
  .h-s-20 {
    height: 20rem !important; }
  .h-s-30 {
    height: 30rem !important; }
  .h-s-40 {
    height: 40rem !important; }
  .h-s-50 {
    height: 50rem !important; }
  .mt-s--2 {
    margin-top: -2rem !important; }
  .mt-s--3 {
    margin-top: -3rem !important; }
  .mt-s--4 {
    margin-top: -4rem !important; }
  .mt-s--8 {
    margin-top: -8rem !important; }
  .mt-s--10 {
    margin-top: -10rem !important; }
  .mt-s--11 {
    margin-top: -11rem !important; } }

@media (min-width: 576px) {
  .maxh-sm-10 {
    max-height: 10rem !important; }
  .maxh-sm-20 {
    max-height: 20rem !important; }
  .maxh-sm-30 {
    max-height: 30rem !important; }
  .maxh-sm-40 {
    max-height: 40rem !important; }
  .maxh-sm-50 {
    max-height: 50rem !important; }
  .maxh-sm-10vw {
    max-height: 10vw !important; }
  .maxh-sm-20vw {
    max-height: 20vw !important; }
  .maxh-sm-30vw {
    max-height: 30vw !important; }
  .maxh-sm-40vw {
    max-height: 40vw !important; }
  .maxh-sm-50vw {
    max-height: 50vw !important; }
  .maxh-sm-60vw {
    max-height: 60vw !important; }
  .maxh-sm-70vw {
    max-height: 70vw !important; }
  .maxh-sm-80vw {
    max-height: 80vw !important; }
  .maxh-sm-90vw {
    max-height: 90vw !important; }
  .maxh-sm-100vw {
    max-height: 100vw !important; }
  .minh-sm-10 {
    min-height: 10rem !important; }
  .minh-sm-20 {
    min-height: 20rem !important; }
  .minh-sm-30 {
    min-height: 30rem !important; }
  .minh-sm-40 {
    min-height: 40rem !important; }
  .minh-sm-50 {
    min-height: 50rem !important; }
  .h-sm-10 {
    height: 10rem !important; }
  .h-sm-15 {
    height: 15rem !important; }
  .h-sm-20 {
    height: 20rem !important; }
  .h-sm-30 {
    height: 30rem !important; }
  .h-sm-40 {
    height: 40rem !important; }
  .h-sm-50 {
    height: 50rem !important; }
  .mt-sm--2 {
    margin-top: -2rem !important; }
  .mt-sm--3 {
    margin-top: -3rem !important; }
  .mt-sm--4 {
    margin-top: -4rem !important; }
  .mt-sm--8 {
    margin-top: -8rem !important; }
  .mt-sm--10 {
    margin-top: -10rem !important; }
  .mt-sm--11 {
    margin-top: -11rem !important; } }

@media (min-width: 768px) {
  .maxh-md-10 {
    max-height: 10rem !important; }
  .maxh-md-20 {
    max-height: 20rem !important; }
  .maxh-md-30 {
    max-height: 30rem !important; }
  .maxh-md-40 {
    max-height: 40rem !important; }
  .maxh-md-50 {
    max-height: 50rem !important; }
  .maxh-md-10vw {
    max-height: 10vw !important; }
  .maxh-md-20vw {
    max-height: 20vw !important; }
  .maxh-md-30vw {
    max-height: 30vw !important; }
  .maxh-md-40vw {
    max-height: 40vw !important; }
  .maxh-md-50vw {
    max-height: 50vw !important; }
  .maxh-md-60vw {
    max-height: 60vw !important; }
  .maxh-md-70vw {
    max-height: 70vw !important; }
  .maxh-md-80vw {
    max-height: 80vw !important; }
  .maxh-md-90vw {
    max-height: 90vw !important; }
  .maxh-md-100vw {
    max-height: 100vw !important; }
  .minh-md-10 {
    min-height: 10rem !important; }
  .minh-md-20 {
    min-height: 20rem !important; }
  .minh-md-30 {
    min-height: 30rem !important; }
  .minh-md-40 {
    min-height: 40rem !important; }
  .minh-md-50 {
    min-height: 50rem !important; }
  .h-md-10 {
    height: 10rem !important; }
  .h-md-15 {
    height: 15rem !important; }
  .h-md-20 {
    height: 20rem !important; }
  .h-md-30 {
    height: 30rem !important; }
  .h-md-40 {
    height: 40rem !important; }
  .h-md-50 {
    height: 50rem !important; }
  .mt-md--2 {
    margin-top: -2rem !important; }
  .mt-md--3 {
    margin-top: -3rem !important; }
  .mt-md--4 {
    margin-top: -4rem !important; }
  .mt-md--8 {
    margin-top: -8rem !important; }
  .mt-md--10 {
    margin-top: -10rem !important; }
  .mt-md--11 {
    margin-top: -11rem !important; } }

@media (min-width: 992px) {
  .maxh-lg-10 {
    max-height: 10rem !important; }
  .maxh-lg-20 {
    max-height: 20rem !important; }
  .maxh-lg-30 {
    max-height: 30rem !important; }
  .maxh-lg-40 {
    max-height: 40rem !important; }
  .maxh-lg-50 {
    max-height: 50rem !important; }
  .maxh-lg-10vw {
    max-height: 10vw !important; }
  .maxh-lg-20vw {
    max-height: 20vw !important; }
  .maxh-lg-30vw {
    max-height: 30vw !important; }
  .maxh-lg-40vw {
    max-height: 40vw !important; }
  .maxh-lg-50vw {
    max-height: 50vw !important; }
  .maxh-lg-60vw {
    max-height: 60vw !important; }
  .maxh-lg-70vw {
    max-height: 70vw !important; }
  .maxh-lg-80vw {
    max-height: 80vw !important; }
  .maxh-lg-90vw {
    max-height: 90vw !important; }
  .maxh-lg-100vw {
    max-height: 100vw !important; }
  .minh-lg-10 {
    min-height: 10rem !important; }
  .minh-lg-20 {
    min-height: 20rem !important; }
  .minh-lg-30 {
    min-height: 30rem !important; }
  .minh-lg-40 {
    min-height: 40rem !important; }
  .minh-lg-50 {
    min-height: 50rem !important; }
  .h-lg-10 {
    height: 10rem !important; }
  .h-lg-15 {
    height: 15rem !important; }
  .h-lg-20 {
    height: 20rem !important; }
  .h-lg-30 {
    height: 30rem !important; }
  .h-lg-40 {
    height: 40rem !important; }
  .h-lg-50 {
    height: 50rem !important; }
  .mt-lg--2 {
    margin-top: -2rem !important; }
  .mt-lg--3 {
    margin-top: -3rem !important; }
  .mt-lg--4 {
    margin-top: -4rem !important; }
  .mt-lg--8 {
    margin-top: -8rem !important; }
  .mt-lg--10 {
    margin-top: -10rem !important; }
  .mt-lg--11 {
    margin-top: -11rem !important; } }

@media (min-width: 1200px) {
  .maxh-xl-10 {
    max-height: 10rem !important; }
  .maxh-xl-20 {
    max-height: 20rem !important; }
  .maxh-xl-30 {
    max-height: 30rem !important; }
  .maxh-xl-40 {
    max-height: 40rem !important; }
  .maxh-xl-50 {
    max-height: 50rem !important; }
  .maxh-xl-10vw {
    max-height: 10vw !important; }
  .maxh-xl-20vw {
    max-height: 20vw !important; }
  .maxh-xl-30vw {
    max-height: 30vw !important; }
  .maxh-xl-40vw {
    max-height: 40vw !important; }
  .maxh-xl-50vw {
    max-height: 50vw !important; }
  .maxh-xl-60vw {
    max-height: 60vw !important; }
  .maxh-xl-70vw {
    max-height: 70vw !important; }
  .maxh-xl-80vw {
    max-height: 80vw !important; }
  .maxh-xl-90vw {
    max-height: 90vw !important; }
  .maxh-xl-100vw {
    max-height: 100vw !important; }
  .minh-xl-10 {
    min-height: 10rem !important; }
  .minh-xl-20 {
    min-height: 20rem !important; }
  .minh-xl-30 {
    min-height: 30rem !important; }
  .minh-xl-40 {
    min-height: 40rem !important; }
  .minh-xl-50 {
    min-height: 50rem !important; }
  .h-xl-10 {
    height: 10rem !important; }
  .h-xl-15 {
    height: 15rem !important; }
  .h-xl-20 {
    height: 20rem !important; }
  .h-xl-30 {
    height: 30rem !important; }
  .h-xl-40 {
    height: 40rem !important; }
  .h-xl-50 {
    height: 50rem !important; }
  .mt-xl--2 {
    margin-top: -2rem !important; }
  .mt-xl--3 {
    margin-top: -3rem !important; }
  .mt-xl--4 {
    margin-top: -4rem !important; }
  .mt-xl--8 {
    margin-top: -8rem !important; }
  .mt-xl--10 {
    margin-top: -10rem !important; }
  .mt-xl--11 {
    margin-top: -11rem !important; } }

[class*="col"].row {
  margin: 0;
  padding: 0; }

.container.row,
.container-fluid.row {
  margin: auto;
  padding: 0; }

.centered {
  margin: auto; }
  .centered p:last-of-type {
    margin-bottom: 0; }

.centered-v {
  margin-top: auto;
  margin-bottom: auto; }
  .centered-v p:last-of-type {
    margin-bottom: 0; }

.cover * {
  height: 100%;
  width: 100%; }
  .cover * img {
    object-fit: cover; }

.columns-none {
  column-count: inital !important; }

.columns-2 {
  column-count: 2 !important; }

.columns-3 {
  column-count: 3 !important; }

.columns-4 {
  column-count: 4 !important; }

[class*="columns-"] {
  padding-bottom: 1rem; }

@media (min-width: 450px) {
  .columns-s-none {
    column-count: inital !important; }
  .columns-s-2 {
    column-count: 2 !important; }
  .columns-s-3 {
    column-count: 3 !important; }
  .columns-s-4 {
    column-count: 4 !important; }
  [class*="columns-s-"] {
    padding-bottom: 1rem; } }

@media (min-width: 576px) {
  .columns-sm-none {
    column-count: inital !important; }
  .columns-sm-2 {
    column-count: 2 !important; }
  .columns-sm-3 {
    column-count: 3 !important; }
  .columns-sm-4 {
    column-count: 4 !important; }
  [class*="columns-sm-"] {
    padding-bottom: 1rem; } }

@media (min-width: 768px) {
  .columns-md-none {
    column-count: inital !important; }
  .columns-md-2 {
    column-count: 2 !important; }
  .columns-md-3 {
    column-count: 3 !important; }
  .columns-md-4 {
    column-count: 4 !important; }
  [class*="columns-md-"] {
    padding-bottom: 1rem; } }

@media (min-width: 992px) {
  .columns-lg-none {
    column-count: inital !important; }
  .columns-lg-2 {
    column-count: 2 !important; }
  .columns-lg-3 {
    column-count: 3 !important; }
  .columns-lg-4 {
    column-count: 4 !important; }
  [class*="columns-lg-"] {
    padding-bottom: 1rem; } }

@media (min-width: 1200px) {
  .columns-xl-none {
    column-count: inital !important; }
  .columns-xl-2 {
    column-count: 2 !important; }
  .columns-xl-3 {
    column-count: 3 !important; }
  .columns-xl-4 {
    column-count: 4 !important; }
  [class*="columns-xl-"] {
    padding-bottom: 1rem; } }

.overflow-hidden {
  overflow: hidden !important; }

.font-10 {
  font-size: 10% !important; }

.font-20 {
  font-size: 20% !important; }

.font-30 {
  font-size: 30% !important; }

.font-40 {
  font-size: 40% !important; }

.font-50 {
  font-size: 50% !important; }

.font-60 {
  font-size: 60% !important; }

.font-70 {
  font-size: 70% !important; }

.font-80 {
  font-size: 80% !important; }

.font-90 {
  font-size: 90% !important; }

.font-100 {
  font-size: 100% !important; }

.font-110 {
  font-size: 100% !important; }

.font-10 {
  font-size: 10% !important; }

.font-20 {
  font-size: 20% !important; }

.font-30 {
  font-size: 30% !important; }

.font-40 {
  font-size: 40% !important; }

.font-50 {
  font-size: 50% !important; }

.font-60 {
  font-size: 60% !important; }

.font-70 {
  font-size: 70% !important; }

.font-80 {
  font-size: 80% !important; }

.font-90 {
  font-size: 90% !important; }

.font-100 {
  font-size: 100% !important; }

.font-110 {
  font-size: 110% !important; }

@media (min-width: 450px) {
  .font-s-10 {
    font-size: 10% !important; }
  .font-s-20 {
    font-size: 20% !important; }
  .font-s-30 {
    font-size: 30% !important; }
  .font-s-40 {
    font-size: 40% !important; }
  .font-s-50 {
    font-size: 50% !important; }
  .font-s-60 {
    font-size: 60% !important; }
  .font-s-70 {
    font-size: 70% !important; }
  .font-s-80 {
    font-size: 80% !important; }
  .font-s-90 {
    font-size: 90% !important; }
  .font-s-100 {
    font-size: 100% !important; }
  .font-s-110 {
    font-size: 110% !important; } }

@media (min-width: 576px) {
  .font-sm-10 {
    font-size: 10% !important; }
  .font-sm-20 {
    font-size: 20% !important; }
  .font-sm-30 {
    font-size: 30% !important; }
  .font-sm-40 {
    font-size: 40% !important; }
  .font-sm-50 {
    font-size: 50% !important; }
  .font-sm-60 {
    font-size: 60% !important; }
  .font-sm-70 {
    font-size: 70% !important; }
  .font-sm-80 {
    font-size: 80% !important; }
  .font-sm-90 {
    font-size: 90% !important; }
  .font-sm-100 {
    font-size: 100% !important; }
  .font-sm-110 {
    font-size: 110% !important; } }

@media (min-width: 768px) {
  .font-md-10 {
    font-size: 10% !important; }
  .font-md-20 {
    font-size: 20% !important; }
  .font-md-30 {
    font-size: 30% !important; }
  .font-md-40 {
    font-size: 40% !important; }
  .font-md-50 {
    font-size: 50% !important; }
  .font-md-60 {
    font-size: 60% !important; }
  .font-md-70 {
    font-size: 70% !important; }
  .font-md-80 {
    font-size: 80% !important; }
  .font-md-90 {
    font-size: 90% !important; }
  .font-md-100 {
    font-size: 100% !important; }
  .font-md-110 {
    font-size: 110% !important; } }

@media (min-width: 992px) {
  .font-lg-10 {
    font-size: 10% !important; }
  .font-lg-20 {
    font-size: 20% !important; }
  .font-lg-30 {
    font-size: 30% !important; }
  .font-lg-40 {
    font-size: 40% !important; }
  .font-lg-50 {
    font-size: 50% !important; }
  .font-lg-60 {
    font-size: 60% !important; }
  .font-lg-70 {
    font-size: 70% !important; }
  .font-lg-80 {
    font-size: 80% !important; }
  .font-lg-90 {
    font-size: 90% !important; }
  .font-lg-100 {
    font-size: 100% !important; }
  .font-lg-110 {
    font-size: 110% !important; } }

@media (min-width: 1200px) {
  .font-xl-10 {
    font-size: 10% !important; }
  .font-xl-20 {
    font-size: 20% !important; }
  .font-xl-30 {
    font-size: 30% !important; }
  .font-xl-40 {
    font-size: 40% !important; }
  .font-xl-50 {
    font-size: 50% !important; }
  .font-xl-60 {
    font-size: 60% !important; }
  .font-xl-70 {
    font-size: 70% !important; }
  .font-xl-80 {
    font-size: 80% !important; }
  .font-xl-90 {
    font-size: 90% !important; }
  .font-xl-100 {
    font-size: 100% !important; }
  .font-xl-110 {
    font-size: 110% !important; } }

.hide-text {
  font-size: 0; }
  .hide-text a:hover {
    border-color: transparent !important; }

.no-wrap {
  display: inline-block; }

.anchor {
  position: absolute;
  transform: translateY(-10vh); }

.bg-full {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

#wpadminbar {
  top: auto;
  bottom: 0; }

.bg-transparent {
  background: transparent !important; }

.iframe-privacy--wrapper {
  min-height: 270px;
  background: rgba(0, 0, 0, 0.03);
  position: relative;
  max-width: 100%;
  width: 100%;
  margin: 0 auto; }
  .iframe-privacy--wrapper iframe {
    height: 100%;
    width: 100%; }
  .iframe-privacy--wrapper .iframe-privacy--message {
    background: white;
    border-radius: 5px;
    max-width: 400px;
    width: 80%;
    margin: auto;
    padding: 20px 30px;
    position: absolute;
    left: 50%;
    margin: 2rem;
    transform: translate(calc(-50% - 2rem));
    z-index: 1000;
    text-align: center; }
    .iframe-privacy--wrapper .iframe-privacy--message .iframe-privacy--source {
      color: #6c757d; }
    .iframe-privacy--wrapper .iframe-privacy--message .button {
      padding: .6rem .9rem !important;
      border: 1px solid #000 !important;
      background-color: transparent;
      margin: 1rem 0 1rem 0;
      display: inline-block;
      text-decoration: none !important;
      cursor: pointer; }
      .iframe-privacy--wrapper .iframe-privacy--message .button:hover {
        background-color: #e8e8e8; }
    .iframe-privacy--wrapper .iframe-privacy--message .play-button {
      padding-bottom: 1em;
      display: block; }
      .iframe-privacy--wrapper .iframe-privacy--message .play-button:before {
        position: relative;
        font-size: 5em;
        cursor: pointer;
        color: #007bff; }
      .iframe-privacy--wrapper .iframe-privacy--message .play-button:hover:before {
        color: #6c757d; }

.cc-window {
  padding: 1.5em 1.5em .5em !important;
  font-size: .9em !important;
  box-shadow: 0 0 12px -5px rgba(20, 48, 143, 0.32);
  -ms-flex-direction: row !important;
  flex-direction: row !important;
  transition: opacity 1s ease, bottom 1s ease-in !important;
  background: #fff;
  max-width: 33em !important; }
  .scrolled .cc-window {
    bottom: -100% !important; }

.cc-message {
  margin-bottom: .5em !important; }

.cc-compliance {
  display: flex !important;
  align-self: center; }
  .cc-compliance a {
    margin-top: 0;
    margin-bottom: 1em;
    min-width: 80px;
    border: 0 none;
    font-size: 1.1em;
    margin-left: auto;
    margin-right: auto; }

.cc-deny {
  color: #aaa;
  font-weight: bold;
  font-size: 1em !important; }

.flickity-enabled {
  padding: 0; }
  .flickity-enabled [class*="col"] {
    padding: 0 !important;
    margin: 0;
    position: static !important; }
  .flickity-enabled figure {
    height: 100%;
    width: 100%; }
    .flickity-enabled figure img {
      height: 100%;
      width: 100%;
      object-fit: cover; }

.flickity-viewport,
.flickity-slider {
  height: 100% !important; }

.flickity-slider {
  display: flex;
  position: relative !important; }

.flickity-page-dots {
  top: auto;
  bottom: 1rem; }
  .flickity-page-dots .dot {
    width: .6em;
    height: .6em;
    margin: 0 .2em;
    opacity: 0.3;
    background: #007bff; }
    .flickity-page-dots .dot:only-child {
      display: none; }
    .flickity-page-dots .dot:hover {
      opacity: 0.6; }

.flickity-button {
  transition: color .5s;
  width: auto;
  height: auto;
  border-radius: 0;
  background: none;
  color: #007bff;
  font-size: 2em;
  line-height: 0;
  padding: 0; }
  .flickity-button:hover {
    background: none; }
  .flickity-button svg {
    display: none; }
  .flickity-button.next {
    right: .8em; }
    .flickity-button.next:before {
      content: "s"; }
  .flickity-button.previous {
    left: .8em; }
    .flickity-button.previous:before {
      content: "r"; }
  .flickity-button:disabled {
    opacity: .2; }

.fancybox-image[src$=".png"] {
  background-color: #fff !important; }

.fancybox-container .fancybox-video.d-none {
  display: block !important; }

.fancybox-stage .fancybox-content {
  max-width: 1000px !important; }

@font-face {
  font-family: "icon-font";
  src: url("../icons/fonts/icon-font.eot?555f2df45fe81dd893ddb3bc7b57cacf?#iefix") format("embedded-opentype"), url("../icons/fonts/icon-font.woff2?555f2df45fe81dd893ddb3bc7b57cacf") format("woff2"), url("../icons/fonts/icon-font.woff?555f2df45fe81dd893ddb3bc7b57cacf") format("woff"), url("../icons/fonts/icon-font.ttf?555f2df45fe81dd893ddb3bc7b57cacf") format("truetype"), url("../icons/fonts/icon-font.svg?555f2df45fe81dd893ddb3bc7b57cacf#icon-font") format("svg");
  font-display: swap; }

.flickity-button:before, [data-icon]:before, [data-icon-right]:after, [data-icon-left]:before, [class^="icon-"]:before, [class*=" icon-"]:before, .more-link:after, [class^="child-icon-"] a:before, [class*=" child-icon-"] a:before, .dropdown .menu-item > .sub-menu li:before {
  font-family: icon-font !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  line-height: inherit; }

[data-icon]:before {
  content: attr(data-icon); }

[data-icon-right]:after {
  content: attr(data-icon-right); }

[data-icon-left]:before {
  content: attr(data-icon-left); }

.icon-angle-down:before {
  content: "\61"; }

.icon-angle-left:before {
  content: "\62"; }

.icon-angle-right:before {
  content: "\63"; }

.icon-angle-up:before {
  content: "\64"; }

.icon-bars:before {
  content: "\65"; }

.icon-check:before {
  content: "\66"; }

.icon-cookie-bite:before {
  content: "\67"; }

.icon-envelope:before {
  content: "\68"; }

.icon-facebook-square:before {
  content: "\69"; }

.icon-fax:before {
  content: "\6a"; }

.icon-phone-alt:before {
  content: "\6b"; }

.icon-phone:before {
  content: "\6c"; }

.icon-times:before {
  content: "\6d"; }

.icon-sliders-h:before {
  content: "\6e"; }

.icon-instagram-brands:before {
  content: "\6f"; }

/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * acumin-pro:
 *   - http://typekit.com/eulas/00000000000000003b9acaf7
 *   - http://typekit.com/eulas/00000000000000003b9acaf4
 *   - http://typekit.com/eulas/00000000000000003b9acaf5
 *   - http://typekit.com/eulas/00000000000000003b9acaf6
 *   - http://typekit.com/eulas/00000000000000003b9acafa
 *   - http://typekit.com/eulas/00000000000000003b9acafb
 * sirenne-text-mvb:
 *   - http://typekit.com/eulas/00000000000000003b9b4404
 *   - http://typekit.com/eulas/00000000000000003b9b4406
 *
 * © 2009-2020 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2020-08-13 07:57:34 UTC"}*/
@font-face {
  font-family: "acumin-pro";
  src: url("https://use.typekit.net/af/aa5b59/00000000000000003b9acaf7/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"), url("https://use.typekit.net/af/aa5b59/00000000000000003b9acaf7/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"), url("https://use.typekit.net/af/aa5b59/00000000000000003b9acaf7/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
  font-display: swap;
  font-style: italic;
  font-weight: 400; }

@font-face {
  font-family: "acumin-pro";
  src: url("https://use.typekit.net/af/a2c82e/00000000000000003b9acaf4/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"), url("https://use.typekit.net/af/a2c82e/00000000000000003b9acaf4/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"), url("https://use.typekit.net/af/a2c82e/00000000000000003b9acaf4/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
  font-display: swap;
  font-style: normal;
  font-weight: 300; }

@font-face {
  font-family: "acumin-pro";
  src: url("https://use.typekit.net/af/51b548/00000000000000003b9acaf5/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff2"), url("https://use.typekit.net/af/51b548/00000000000000003b9acaf5/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff"), url("https://use.typekit.net/af/51b548/00000000000000003b9acaf5/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("opentype");
  font-display: swap;
  font-style: italic;
  font-weight: 300; }

@font-face {
  font-family: "acumin-pro";
  src: url("https://use.typekit.net/af/46da36/00000000000000003b9acaf6/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/46da36/00000000000000003b9acaf6/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/46da36/00000000000000003b9acaf6/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display: swap;
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: "acumin-pro";
  src: url("https://use.typekit.net/af/027dd4/00000000000000003b9acafa/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"), url("https://use.typekit.net/af/027dd4/00000000000000003b9acafa/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"), url("https://use.typekit.net/af/027dd4/00000000000000003b9acafa/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
  font-display: swap;
  font-style: normal;
  font-weight: 600; }

@font-face {
  font-family: "acumin-pro";
  src: url("https://use.typekit.net/af/133267/00000000000000003b9acafb/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("woff2"), url("https://use.typekit.net/af/133267/00000000000000003b9acafb/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("woff"), url("https://use.typekit.net/af/133267/00000000000000003b9acafb/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("opentype");
  font-display: swap;
  font-style: italic;
  font-weight: 600; }

@font-face {
  font-family: "sirenne-text-mvb";
  src: url("https://use.typekit.net/af/7b3167/00000000000000003b9b4404/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/7b3167/00000000000000003b9b4404/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/7b3167/00000000000000003b9b4404/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display: swap;
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: "sirenne-text-mvb";
  src: url("https://use.typekit.net/af/1b4077/00000000000000003b9b4406/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"), url("https://use.typekit.net/af/1b4077/00000000000000003b9b4406/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"), url("https://use.typekit.net/af/1b4077/00000000000000003b9b4406/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
  font-display: swap;
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: "sirenne-text-mvb-roman-small";
  src: url("https://use.typekit.net/af/f97246/00000000000000003b9b44fb/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/f97246/00000000000000003b9b44fb/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/f97246/00000000000000003b9b44fb/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display: swap;
  font-style: normal;
  font-weight: 400; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  padding-top: 1.5rem; }
  @media (min-width: 768px) {
    h1, h2, h3, h4, h5, h6,
    .h1, .h2, .h3, .h4, .h5, .h6 {
      padding-top: 2rem; } }

main p:last-child,
main ul:last-child {
  padding-bottom: 1rem; }

main p:last-child:first-of-type {
  margin: 0; }

.last-p-p-0 p:last-of-type {
  margin-bottom: 0; }

.p-last-pb-0 > p:last-child {
  padding-bottom: 0; }

p, h1, h2, h3, h4 {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; }

main p, main table {
  line-height: 1.5;
  margin: 0 0 1em; }

button {
  -webkit-appearance: none;
  appearance: none;
  padding: 0;
  margin: 0;
  background: 0 0;
  color: inherit;
  border: 0 none;
  cursor: pointer; }

#navtoggle {
  font-size: 2rem; }

h1, .h1 {
  font-weight: 400;
  font-size: 1.8rem; }
  @media (min-width: 450px) {
    h1, .h1 {
      font-size: 2.5em; } }
  @media (min-width: 992px) {
    h1, .h1 {
      font-size: 4em; } }
  h1 span:not(:last-of-type):after, .h1 span:not(:last-of-type):after {
    display: block;
    content: ""; }

h2, .h2 {
  font-size: 1.8rem; }
  h2 small, .h2 small {
    font-size: 1rem;
    font-weight: 300;
    display: block; }
  h2 a, .h2 a {
    text-decoration: none; }

h3, .h3 {
  font-size: 1.2rem;
  padding-top: 0; }

h4, .h4 {
  font-size: 1em; }

p, .wp-block-button__link, input, main ul li, .button {
  font-size: .85rem; }
  @media (min-width: 768px) {
    p, .wp-block-button__link, input, main ul li, .button {
      font-size: .9rem; } }
  @media (min-width: 992px) {
    p, .wp-block-button__link, input, main ul li, .button {
      font-size: .95rem; } }

a {
  font-weight: 400;
  color: #000;
  text-decoration: underline; }
  a:hover {
    text-decoration: none;
    color: inherit; }
  a[data-icon-left], a[data-icon-right] {
    text-decoration: none;
    font-weight: 300; }

.more-link, .button  {
  padding: .6rem .9rem !important;
  border: 1px solid #000 !important;
  background-color: transparent;
  cursor: pointer;
  margin: 1rem 0 1rem 0;
  display: inline-block;
  text-decoration: none !important; }
  .more-link:hover, .button :hover {
    background-color: #e8e8e8; }

[data-icon-right]:after {
  margin-left: 0.4em;
  bottom: -.1em; }

[data-icon-left]:before {
  margin-right: 0.6em;
  bottom: -.16em; }

i[class^="icon-"]:before {
  bottom: -.16em; }

.more-link {
  padding: .6rem .9rem !important;
  border: 1px solid #000 !important;
  background-color: transparent;
  cursor: pointer;
  margin: 1rem 0 1rem 0;
  display: inline-block;
  text-decoration: none !important; }
  .more-link:hover {
    background-color: #e8e8e8; }
  .more-link:after {
    content: "\63";
    margin-left: 0.4em;
    bottom: -.2em; }

input[type="text"],
input[type="email"],
input[type="date"],
input[type="tel"],
input[type="password"],
input[type="number"],
textarea {
  display: block;
  border: 1px solid #bdc1cc;
  font-size: 1rem;
  line-height: 1.4;
  width: 100%;
  height: 2.5rem;
  padding: 0.5rem;
  color: #616161;
  border-radius: 0;
  box-shadow: none;
  -webkit-appearance: none;
  outline: none !important;
  margin: 0.6rem 0 0 0; }
  input[type="text"]:placeholder-shown,
  input[type="email"]:placeholder-shown,
  input[type="date"]:placeholder-shown,
  input[type="tel"]:placeholder-shown,
  input[type="password"]:placeholder-shown,
  input[type="number"]:placeholder-shown,
  textarea:placeholder-shown {
    border-color: #e8e8e8; }
  input[type="text"]:not(:required),
  input[type="email"]:not(:required),
  input[type="date"]:not(:required),
  input[type="tel"]:not(:required),
  input[type="password"]:not(:required),
  input[type="number"]:not(:required),
  textarea:not(:required) {
    opacity: 0.6; }
  input[type="text"][aria-required="true"],
  input[type="email"][aria-required="true"],
  input[type="date"][aria-required="true"],
  input[type="tel"][aria-required="true"],
  input[type="password"][aria-required="true"],
  input[type="number"][aria-required="true"],
  textarea[aria-required="true"] {
    opacity: 1 !important; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="date"]:focus,
  input[type="tel"]:focus,
  input[type="password"]:focus,
  input[type="number"]:focus,
  textarea:focus {
    border-color: #000; }
  input[type="text"]:focus, input[type="text"]:not(:placeholder-shown),
  input[type="email"]:focus,
  input[type="email"]:not(:placeholder-shown),
  input[type="date"]:focus,
  input[type="date"]:not(:placeholder-shown),
  input[type="tel"]:focus,
  input[type="tel"]:not(:placeholder-shown),
  input[type="password"]:focus,
  input[type="password"]:not(:placeholder-shown),
  input[type="number"]:focus,
  input[type="number"]:not(:placeholder-shown),
  textarea:focus,
  textarea:not(:placeholder-shown) {
    opacity: 1;
    border-color: #a8a8a8; }

input[type="submit"] {
  cursor: pointer; }

select {
  margin: 0.6rem 0 0 0;
  font-size: 1rem;
  padding: 0 2rem 0 1rem;
  height: 2rem; }

input[type="checkbox"] {
  background: none;
  appearance: none;
  border: 1px solid #a8a8a8;
  height: 1.1em;
  width: 1.1em;
  margin-left: 0.2rem;
  margin-right: 0.3rem;
  padding: .2em;
  display: inline-block;
  background-clip: content-box;
  margin-bottom: -2px; }
  input[type="checkbox"]:hover, input[type="checkbox"]:focus, input[type="checkbox"]:checked {
    border-color: #000; }
  input[type="checkbox"]:checked {
    background-color: #000; }

textarea {
  min-height: 200px; }

[aria-invalid="true"],
.wpcf7-not-valid {
  border-color: red !important;
  border-style: dashed !important; }

.screen-reader-response {
  display: none; }
  .screen-reader-response[data-status] {
    margin-top: 1rem;
    border: 1px dashed var(--danger, red);
    padding: 5px 8px;
    display: block; }
  .screen-reader-response[data-status="mail_sent"] {
    border: 1px dashed var(--success, green); }
  .screen-reader-response:empty {
    display: none !important; }

label:not(.browser-style):not(.mailpoet_checkbox_label):not(.mailpoet_segment_label) {
  font-size: 0; }

label {
  margin: 0;
  width: 100%; }

.wpcf7 {
  max-width: 720px; }

.wpcf7-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px; }
  .wpcf7-form > * {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    flex-basis: 100%; }
    @media (min-width: 768px) {
      .wpcf7-form > * {
        flex-basis: 50%; } }
  .wpcf7-form input {
    max-width: 350px; }
  .wpcf7-form .message {
    width: 100%;
    flex-basis: 100%; }
  .wpcf7-form label {
    display: none; }
  .wpcf7-form .privacy,
  .wpcf7-form .mailpoetsignup-x {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
    .wpcf7-form .privacy .wpcf7-form-control,
    .wpcf7-form .mailpoetsignup-x .wpcf7-form-control {
      display: block;
      padding-left: 1.7em;
      margin: 0.6rem 0 0 0; }
      .wpcf7-form .privacy .wpcf7-form-control label,
      .wpcf7-form .mailpoetsignup-x .wpcf7-form-control label {
        display: inline;
        font-size: inherit; }
      .wpcf7-form .privacy .wpcf7-form-control input,
      .wpcf7-form .mailpoetsignup-x .wpcf7-form-control input {
        margin-left: -1.3em !important; }
  .wpcf7-form .wpcf7-submit {
    font-size: .85rem !important;
    padding: .6rem .9rem !important;
    border: 1px solid #000 !important;
    background-color: transparent;
    margin: 1rem 10px 0 10px;
    flex-basis: auto;
    align-self: center; }
    .wpcf7-form .wpcf7-submit:hover {
      background-color: #e8e8e8; }
    @media (min-width: 768px) {
      .wpcf7-form .wpcf7-submit {
        font-size: .9rem !important; } }
    @media (min-width: 992px) {
      .wpcf7-form .wpcf7-submit {
        font-size: .95rem !important; } }
  .wpcf7-form.sent .wpcf7-submit {
    color: var(--success);
    border-color: var(--success) !important; }
  .wpcf7-form .wpcf7-response-output {
    width: 100%; }
  .wpcf7-form .wpcf7-display-none {
    display: none; }

.label-select {
  display: flex;
  align-items: baseline; }
  .label-select .wpcf7-form-control-wrap {
    order: -1; }

.wpcf7-quiz-label {
  font-size: 1rem !important;
  transform: translateY(1em);
  display: block; }

.mailpoet_form {
  padding-left: 0 !important;
  padding-right: 0 !important; }

input.mailpoet_text {
  padding: 12px !important; }

input.mailpoet_text,
label.mailpoet_checkbox_label,
label.mailpoet_text_label,
label.mailpoet_segment_label,
label.mailpoet_select_label,
input.mailpoet_submit {
  font-size: .85rem !important; }
  @media (min-width: 768px) {
    input.mailpoet_text,
    label.mailpoet_checkbox_label,
    label.mailpoet_text_label,
    label.mailpoet_segment_label,
    label.mailpoet_select_label,
    input.mailpoet_submit {
      font-size: .9rem !important; } }
  @media (min-width: 992px) {
    input.mailpoet_text,
    label.mailpoet_checkbox_label,
    label.mailpoet_text_label,
    label.mailpoet_segment_label,
    label.mailpoet_select_label,
    input.mailpoet_submit {
      font-size: .95rem !important; } }

input.mailpoet_submit {
  padding: .6rem .9rem !important;
  border: 1px solid #000 !important;
  background-color: transparent; }
  input.mailpoet_submit:hover {
    background-color: #e8e8e8; }

/*
  Note: Bootstrap mixins

  @include media-breakpoint-down(sm)
  @include media-breakpoint-up(sm)
  @include media-breakpoint-only(sm)
*/
img {
  max-width: 100%;
  height: auto; }

[data-rellax-speed] {
  z-index: 1; }

.container.row,
.container-fluid.row {
  margin: auto;
  padding: 0; }

#header {
  z-index: 2; }

#navbar.position-sticky {
  top: 1.5rem;
  height: 0;
  padding-top: 0;
  z-index: 100;
  position: relative; }

h1 .logo img {
  max-width: 120px; }
  @media (min-width: 450px) {
    h1 .logo img {
      max-width: 150px; } }

.logo img {
  max-width: 100%; }

.menu {
  padding: 0;
  list-style: none;
  margin-bottom: 0; }
  .menu:not(.container) {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end; }
  .menu > li {
    padding: 0.5rem 0.5rem; }
    .menu > li a {
      padding: .6rem .9rem;
      border: 1px transparent solid;
      font-size: 1.2em;
      text-decoration: none; }
    .menu > li.current_page_item a, .menu > li.current_page_parent a, .menu > li.current-menu-item a, .menu > li:hover a {
      border: 1px solid #000;
      color: inherit; }

[class^="child-icon-"]:hover a, [class*=" child-icon-"]:hover a {
  border-color: transparent !important; }

.child-icon-facebook-square a:before {
  content: "\69";
  font-size: 1.2rem; }

.child-icon-instagram-brands a:before {
  content: "\6f";
  font-size: 1.2rem; }

/*
	Slideout Stuff
 */
#wrapper {
  position: relative;
  z-index: 1;
  background-color: #fff;
  overflow: hidden;
  transition: opacity .5s; }

#responsivemenu {
  padding: 3rem 2rem;
  text-align: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 260px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none; }
  #responsivemenu ul {
    list-style: none;
    padding-left: 0; }
    #responsivemenu ul li {
      margin-top: 2px;
      background-color: #fff;
      color: #000; }
      #responsivemenu ul li a {
        display: block;
        padding: .6rem .9rem; }
      #responsivemenu ul li .sub-menu {
        font-size: 80%; }
        #responsivemenu ul li .sub-menu li {
          margin-top: 0; }
    #responsivemenu ul#menu-hauptmenue-1 li a {
      border: 1px transparent solid;
      font-size: 1.2em;
      text-decoration: none;
      margin-bottom: 5px; }
    #responsivemenu ul#menu-hauptmenue-1 li.current-menu-item a, #responsivemenu ul#menu-hauptmenue-1 li:hover a {
      border-color: #000; }

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden; }

.slideout-open #wrapper > * {
  opacity: 0.5; }

.slideout-open .slideout-menu {
  display: block !important; }

.slideout-open #navtoggle:before {
  content: "m"; }

.dropdown .menu-item > .sub-menu {
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s;
  position: absolute;
  background: #007bff;
  z-index: 999;
  padding: 0;
  transform: translate3d(-0.5rem, 0.5rem, 0);
  max-width: 250px;
  font-size: 90%; }
  .dropdown .menu-item > .sub-menu li {
    padding-left: 3em; }
    .dropdown .menu-item > .sub-menu li:before {
      margin-left: -1.5em;
      content: "d"; }

.dropdown .menu-item:hover > .sub-menu {
  visibility: visible;
  opacity: 1; }

#footer {
  margin-top: 5rem;
  padding-bottom: 2rem; }
  #footer a, #footer a:hover {
    text-decoration: none; }
  #footer a:hover span {
    text-decoration: underline; }
  #footer ul, #footer ul li {
    list-style: none;
    margin: 0;
    padding: 0; }
  #footer ul li {
    padding: 0;
    font-size: .85rem; }
    #footer ul li a:hover {
      text-decoration: underline; }

.table-sm {
  background: white;
  border-radius: 5px;
  text-align: center;
  width: auto;
  margin-top: 1rem; }
  .table-sm th {
    padding-left: 1rem;
    padding-right: 1rem; }
    .table-sm th:first-child {
      text-align: right; }

.text-center .table {
  margin-left: auto;
  margin-right: auto;
  display: table; }

[class^="wp-block"] {
  max-width: 1050px;
  margin-left: auto;
  margin-right: auto; }
  [class^="wp-block"].wp-block-group__inner-container {
    max-width: 100%; }

.alignwide {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }

.wp-block-buttons {
  margin-top: 2em;
  margin-bottom: 1em; }
  .wp-block-buttons .wp-block-button__link {
    padding: .6rem .9rem; }
    .wp-block-buttons .wp-block-button__link:hover {
      background-color: #e8e8e8; }

.is-style-outline .wp-block-button__link,
.wp-block-button__link.is-style-outline {
  border-width: 1px; }

.wp-block-cover {
  padding: 60px 30px;
  min-height: 300px;
  text-align: center; }
  .wp-block-cover .wp-block-cover__inner-container {
    background-color: #fff;
    color: #000;
    padding: 1em 1em 0em;
    width: 100%;
    max-width: 590px;
    outline: 1.3px solid #000;
    outline-offset: 15px; }
  .wp-block-cover h1 {
    font-size: 1.2em;
    padding-top: 0; }
  @media (min-width: 576px) {
    .wp-block-cover .wp-block-cover__inner-container {
      width: 80%;
      padding: 2em 2em 1em;
      outline-offset: 20px; } }

.wp-block-media-text,
.wp-block-columns,
.wp-block-group {
  margin-top: 1rem;
  margin-bottom: 1rem; }
  @media (min-width: 576px) {
    .wp-block-media-text,
    .wp-block-columns,
    .wp-block-group {
      margin-top: 2rem;
      margin-bottom: 2rem; } }
  .wp-block-media-text .wp-block-media-text,
  .wp-block-media-text .wp-block-columns,
  .wp-block-media-text .wp-block-group,
  .wp-block-columns .wp-block-media-text,
  .wp-block-columns .wp-block-columns,
  .wp-block-columns .wp-block-group,
  .wp-block-group .wp-block-media-text,
  .wp-block-group .wp-block-columns,
  .wp-block-group .wp-block-group {
    margin-top: 0;
    margin-bottom: 0;
    max-width: 100%; }
  .wp-block-media-text.mitrahmen,
  .wp-block-columns.mitrahmen,
  .wp-block-group.mitrahmen {
    border: 1px solid #000; }
    .wp-block-media-text.mitrahmen .wp-block-media-text__media,
    .wp-block-columns.mitrahmen .wp-block-media-text__media,
    .wp-block-group.mitrahmen .wp-block-media-text__media {
      margin: 1em;
      display: grid;
      align-content: center; }
    .wp-block-media-text.mitrahmen .wp-block-media-text__content, .wp-block-media-text.mitrahmen .wp-block-column,
    .wp-block-columns.mitrahmen .wp-block-media-text__content,
    .wp-block-columns.mitrahmen .wp-block-column,
    .wp-block-group.mitrahmen .wp-block-media-text__content,
    .wp-block-group.mitrahmen .wp-block-column {
      flex-basis: 50%;
      padding: 0 1rem 0 1.5rem;
      margin-left: 0; }
      @media (min-width: 450px) {
        .wp-block-media-text.mitrahmen .wp-block-media-text__content, .wp-block-media-text.mitrahmen .wp-block-column,
        .wp-block-columns.mitrahmen .wp-block-media-text__content,
        .wp-block-columns.mitrahmen .wp-block-column,
        .wp-block-group.mitrahmen .wp-block-media-text__content,
        .wp-block-group.mitrahmen .wp-block-column {
          padding: 0 2rem 0 2rem; } }
      @media (min-width: 768px) {
        .wp-block-media-text.mitrahmen .wp-block-media-text__content, .wp-block-media-text.mitrahmen .wp-block-column,
        .wp-block-columns.mitrahmen .wp-block-media-text__content,
        .wp-block-columns.mitrahmen .wp-block-column,
        .wp-block-group.mitrahmen .wp-block-media-text__content,
        .wp-block-group.mitrahmen .wp-block-column {
          padding: 0 2rem 0 3rem; } }
    @media (min-width: 768px) {
      .wp-block-media-text.mitrahmen .wp-block-media-text__media,
      .wp-block-columns.mitrahmen .wp-block-media-text__media,
      .wp-block-group.mitrahmen .wp-block-media-text__media {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        margin-top: -2.5rem;
        margin-bottom: -2.5rem;
        height: calc(100% + 8rem) !important; } }
    @media (min-width: 992px) {
      .wp-block-media-text.mitrahmen,
      .wp-block-columns.mitrahmen,
      .wp-block-group.mitrahmen {
        margin-top: 3rem;
        margin-bottom: 7rem; }
        .wp-block-media-text.mitrahmen .wp-block-media-text__media,
        .wp-block-columns.mitrahmen .wp-block-media-text__media,
        .wp-block-group.mitrahmen .wp-block-media-text__media {
          padding-top: 3rem;
          padding-bottom: 3rem;
          margin-top: -6rem;
          margin-bottom: -6rem;
          height: calc(100% + 12rem) !important; } }

@media (max-width: 767.98px) {
  .wp-block-columns {
    display: block; } }

.abstandoben {
  margin-top: 2.7rem; }

@media (min-width: 450px) {
  .wp-block-columns .wp-block-columns {
    display: flex;
    flex-basis: 50%; } }

.wp-block-columns .wp-block-columns .wp-block-column {
  padding: 0 0 0 1em !important; }

.block-editor__typewriter {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }
  .block-editor__typewriter h2, .block-editor__typewriter h3, .block-editor__typewriter h4 {
    font-family: inherit; }

/* 
 * Main column width
 * This changes it from the default 580px to 720px
 */
.wp-block {
  max-width: 80% !important; }

/* 
* Width of "wide" blocks
* This changes it from the default 1080px to 1280px
*/
.wp-block[data-align="wide"] {
  max-width: 90% !important; }
