@charset "UTF-8";
.clear {
  clear: both; }

.h-1 {
  height: 2rem; }

.h-2 {
  height: 3rem; }

.h-3 {
  height: 4rem; }

.h-4 {
  height: 5rem; }

.h-5 {
  height: 6rem; }

.lh-2 {
  line-height: 2; }

.maxh-10 {
  max-height: 10rem !important; }

.maxh-20 {
  max-height: 20rem !important; }

.maxh-30 {
  max-height: 30rem !important; }

.maxh-40 {
  max-height: 40rem !important; }

.maxh-50 {
  max-height: 50rem !important; }

.maxh-10vw {
  max-height: 10vw !important; }

.maxh-20vw {
  max-height: 20vw !important; }

.maxh-30vw {
  max-height: 30vw !important; }

.maxh-40vw {
  max-height: 40vw !important; }

.maxh-50vw {
  max-height: 50vw !important; }

.maxh-60vw {
  max-height: 60vw !important; }

.maxh-70vw {
  max-height: 70vw !important; }

.maxh-80vw {
  max-height: 80vw !important; }

.maxh-90vw {
  max-height: 90vw !important; }

.maxh-100vw {
  max-height: 100vw !important; }

.minh-10 {
  min-height: 10rem !important; }

.minh-20 {
  min-height: 20rem !important; }

.minh-30 {
  min-height: 30rem !important; }

.minh-40 {
  min-height: 40rem !important; }

.minh-50 {
  min-height: 50rem !important; }

.h-10 {
  height: 10rem !important; }

.h-15 {
  height: 15rem !important; }

.h-20 {
  height: 20rem !important; }

.h-30 {
  height: 30rem !important; }

.h-40 {
  height: 40rem !important; }

.h-50 {
  height: 50rem !important; }

.mt--2 {
  margin-top: -2rem !important; }

.mt--3 {
  margin-top: -3rem !important; }

.mt--4 {
  margin-top: -4rem !important; }

.mt--8 {
  margin-top: -8rem !important; }

.mt--10 {
  margin-top: -10rem !important; }

.mt--11 {
  margin-top: -11rem !important; }

@media (min-width: 450px) {
  .maxh-s-10 {
    max-height: 10rem !important; }
  .maxh-s-20 {
    max-height: 20rem !important; }
  .maxh-s-30 {
    max-height: 30rem !important; }
  .maxh-s-40 {
    max-height: 40rem !important; }
  .maxh-s-50 {
    max-height: 50rem !important; }
  .maxh-s-10vw {
    max-height: 10vw !important; }
  .maxh-s-20vw {
    max-height: 20vw !important; }
  .maxh-s-30vw {
    max-height: 30vw !important; }
  .maxh-s-40vw {
    max-height: 40vw !important; }
  .maxh-s-50vw {
    max-height: 50vw !important; }
  .maxh-s-60vw {
    max-height: 60vw !important; }
  .maxh-s-70vw {
    max-height: 70vw !important; }
  .maxh-s-80vw {
    max-height: 80vw !important; }
  .maxh-s-90vw {
    max-height: 90vw !important; }
  .maxh-s-100vw {
    max-height: 100vw !important; }
  .minh-s-10 {
    min-height: 10rem !important; }
  .minh-s-20 {
    min-height: 20rem !important; }
  .minh-s-30 {
    min-height: 30rem !important; }
  .minh-s-40 {
    min-height: 40rem !important; }
  .minh-s-50 {
    min-height: 50rem !important; }
  .h-s-10 {
    height: 10rem !important; }
  .h-s-15 {
    height: 15rem !important; }
  .h-s-20 {
    height: 20rem !important; }
  .h-s-30 {
    height: 30rem !important; }
  .h-s-40 {
    height: 40rem !important; }
  .h-s-50 {
    height: 50rem !important; }
  .mt-s--2 {
    margin-top: -2rem !important; }
  .mt-s--3 {
    margin-top: -3rem !important; }
  .mt-s--4 {
    margin-top: -4rem !important; }
  .mt-s--8 {
    margin-top: -8rem !important; }
  .mt-s--10 {
    margin-top: -10rem !important; }
  .mt-s--11 {
    margin-top: -11rem !important; } }

@media (min-width: 576px) {
  .maxh-sm-10 {
    max-height: 10rem !important; }
  .maxh-sm-20 {
    max-height: 20rem !important; }
  .maxh-sm-30 {
    max-height: 30rem !important; }
  .maxh-sm-40 {
    max-height: 40rem !important; }
  .maxh-sm-50 {
    max-height: 50rem !important; }
  .maxh-sm-10vw {
    max-height: 10vw !important; }
  .maxh-sm-20vw {
    max-height: 20vw !important; }
  .maxh-sm-30vw {
    max-height: 30vw !important; }
  .maxh-sm-40vw {
    max-height: 40vw !important; }
  .maxh-sm-50vw {
    max-height: 50vw !important; }
  .maxh-sm-60vw {
    max-height: 60vw !important; }
  .maxh-sm-70vw {
    max-height: 70vw !important; }
  .maxh-sm-80vw {
    max-height: 80vw !important; }
  .maxh-sm-90vw {
    max-height: 90vw !important; }
  .maxh-sm-100vw {
    max-height: 100vw !important; }
  .minh-sm-10 {
    min-height: 10rem !important; }
  .minh-sm-20 {
    min-height: 20rem !important; }
  .minh-sm-30 {
    min-height: 30rem !important; }
  .minh-sm-40 {
    min-height: 40rem !important; }
  .minh-sm-50 {
    min-height: 50rem !important; }
  .h-sm-10 {
    height: 10rem !important; }
  .h-sm-15 {
    height: 15rem !important; }
  .h-sm-20 {
    height: 20rem !important; }
  .h-sm-30 {
    height: 30rem !important; }
  .h-sm-40 {
    height: 40rem !important; }
  .h-sm-50 {
    height: 50rem !important; }
  .mt-sm--2 {
    margin-top: -2rem !important; }
  .mt-sm--3 {
    margin-top: -3rem !important; }
  .mt-sm--4 {
    margin-top: -4rem !important; }
  .mt-sm--8 {
    margin-top: -8rem !important; }
  .mt-sm--10 {
    margin-top: -10rem !important; }
  .mt-sm--11 {
    margin-top: -11rem !important; } }

@media (min-width: 768px) {
  .maxh-md-10 {
    max-height: 10rem !important; }
  .maxh-md-20 {
    max-height: 20rem !important; }
  .maxh-md-30 {
    max-height: 30rem !important; }
  .maxh-md-40 {
    max-height: 40rem !important; }
  .maxh-md-50 {
    max-height: 50rem !important; }
  .maxh-md-10vw {
    max-height: 10vw !important; }
  .maxh-md-20vw {
    max-height: 20vw !important; }
  .maxh-md-30vw {
    max-height: 30vw !important; }
  .maxh-md-40vw {
    max-height: 40vw !important; }
  .maxh-md-50vw {
    max-height: 50vw !important; }
  .maxh-md-60vw {
    max-height: 60vw !important; }
  .maxh-md-70vw {
    max-height: 70vw !important; }
  .maxh-md-80vw {
    max-height: 80vw !important; }
  .maxh-md-90vw {
    max-height: 90vw !important; }
  .maxh-md-100vw {
    max-height: 100vw !important; }
  .minh-md-10 {
    min-height: 10rem !important; }
  .minh-md-20 {
    min-height: 20rem !important; }
  .minh-md-30 {
    min-height: 30rem !important; }
  .minh-md-40 {
    min-height: 40rem !important; }
  .minh-md-50 {
    min-height: 50rem !important; }
  .h-md-10 {
    height: 10rem !important; }
  .h-md-15 {
    height: 15rem !important; }
  .h-md-20 {
    height: 20rem !important; }
  .h-md-30 {
    height: 30rem !important; }
  .h-md-40 {
    height: 40rem !important; }
  .h-md-50 {
    height: 50rem !important; }
  .mt-md--2 {
    margin-top: -2rem !important; }
  .mt-md--3 {
    margin-top: -3rem !important; }
  .mt-md--4 {
    margin-top: -4rem !important; }
  .mt-md--8 {
    margin-top: -8rem !important; }
  .mt-md--10 {
    margin-top: -10rem !important; }
  .mt-md--11 {
    margin-top: -11rem !important; } }

@media (min-width: 992px) {
  .maxh-lg-10 {
    max-height: 10rem !important; }
  .maxh-lg-20 {
    max-height: 20rem !important; }
  .maxh-lg-30 {
    max-height: 30rem !important; }
  .maxh-lg-40 {
    max-height: 40rem !important; }
  .maxh-lg-50 {
    max-height: 50rem !important; }
  .maxh-lg-10vw {
    max-height: 10vw !important; }
  .maxh-lg-20vw {
    max-height: 20vw !important; }
  .maxh-lg-30vw {
    max-height: 30vw !important; }
  .maxh-lg-40vw {
    max-height: 40vw !important; }
  .maxh-lg-50vw {
    max-height: 50vw !important; }
  .maxh-lg-60vw {
    max-height: 60vw !important; }
  .maxh-lg-70vw {
    max-height: 70vw !important; }
  .maxh-lg-80vw {
    max-height: 80vw !important; }
  .maxh-lg-90vw {
    max-height: 90vw !important; }
  .maxh-lg-100vw {
    max-height: 100vw !important; }
  .minh-lg-10 {
    min-height: 10rem !important; }
  .minh-lg-20 {
    min-height: 20rem !important; }
  .minh-lg-30 {
    min-height: 30rem !important; }
  .minh-lg-40 {
    min-height: 40rem !important; }
  .minh-lg-50 {
    min-height: 50rem !important; }
  .h-lg-10 {
    height: 10rem !important; }
  .h-lg-15 {
    height: 15rem !important; }
  .h-lg-20 {
    height: 20rem !important; }
  .h-lg-30 {
    height: 30rem !important; }
  .h-lg-40 {
    height: 40rem !important; }
  .h-lg-50 {
    height: 50rem !important; }
  .mt-lg--2 {
    margin-top: -2rem !important; }
  .mt-lg--3 {
    margin-top: -3rem !important; }
  .mt-lg--4 {
    margin-top: -4rem !important; }
  .mt-lg--8 {
    margin-top: -8rem !important; }
  .mt-lg--10 {
    margin-top: -10rem !important; }
  .mt-lg--11 {
    margin-top: -11rem !important; } }

@media (min-width: 1200px) {
  .maxh-xl-10 {
    max-height: 10rem !important; }
  .maxh-xl-20 {
    max-height: 20rem !important; }
  .maxh-xl-30 {
    max-height: 30rem !important; }
  .maxh-xl-40 {
    max-height: 40rem !important; }
  .maxh-xl-50 {
    max-height: 50rem !important; }
  .maxh-xl-10vw {
    max-height: 10vw !important; }
  .maxh-xl-20vw {
    max-height: 20vw !important; }
  .maxh-xl-30vw {
    max-height: 30vw !important; }
  .maxh-xl-40vw {
    max-height: 40vw !important; }
  .maxh-xl-50vw {
    max-height: 50vw !important; }
  .maxh-xl-60vw {
    max-height: 60vw !important; }
  .maxh-xl-70vw {
    max-height: 70vw !important; }
  .maxh-xl-80vw {
    max-height: 80vw !important; }
  .maxh-xl-90vw {
    max-height: 90vw !important; }
  .maxh-xl-100vw {
    max-height: 100vw !important; }
  .minh-xl-10 {
    min-height: 10rem !important; }
  .minh-xl-20 {
    min-height: 20rem !important; }
  .minh-xl-30 {
    min-height: 30rem !important; }
  .minh-xl-40 {
    min-height: 40rem !important; }
  .minh-xl-50 {
    min-height: 50rem !important; }
  .h-xl-10 {
    height: 10rem !important; }
  .h-xl-15 {
    height: 15rem !important; }
  .h-xl-20 {
    height: 20rem !important; }
  .h-xl-30 {
    height: 30rem !important; }
  .h-xl-40 {
    height: 40rem !important; }
  .h-xl-50 {
    height: 50rem !important; }
  .mt-xl--2 {
    margin-top: -2rem !important; }
  .mt-xl--3 {
    margin-top: -3rem !important; }
  .mt-xl--4 {
    margin-top: -4rem !important; }
  .mt-xl--8 {
    margin-top: -8rem !important; }
  .mt-xl--10 {
    margin-top: -10rem !important; }
  .mt-xl--11 {
    margin-top: -11rem !important; } }

[class*='col'].row {
  margin: 0;
  padding: 0; }

.container.row,
.container-fluid.row {
  margin: auto;
  padding: 0; }

.centered {
  margin: auto; }
  .centered p:last-of-type {
    margin-bottom: 0; }

.centered-v {
  margin-top: auto;
  margin-bottom: auto; }
  .centered-v p:last-of-type {
    margin-bottom: 0; }

.cover * {
  height: 100%;
  width: 100%; }
  .cover * img {
    object-fit: cover; }

.columns-none {
  column-count: inital !important; }

.columns-2 {
  column-count: 2 !important; }

.columns-3 {
  column-count: 3 !important; }

.columns-4 {
  column-count: 4 !important; }

[class*='columns-'] {
  padding-bottom: 1rem; }

@media (min-width: 450px) {
  .columns-s-none {
    column-count: inital !important; }
  .columns-s-2 {
    column-count: 2 !important; }
  .columns-s-3 {
    column-count: 3 !important; }
  .columns-s-4 {
    column-count: 4 !important; }
  [class*='columns-s-'] {
    padding-bottom: 1rem; } }

@media (min-width: 576px) {
  .columns-sm-none {
    column-count: inital !important; }
  .columns-sm-2 {
    column-count: 2 !important; }
  .columns-sm-3 {
    column-count: 3 !important; }
  .columns-sm-4 {
    column-count: 4 !important; }
  [class*='columns-sm-'] {
    padding-bottom: 1rem; } }

@media (min-width: 768px) {
  .columns-md-none {
    column-count: inital !important; }
  .columns-md-2 {
    column-count: 2 !important; }
  .columns-md-3 {
    column-count: 3 !important; }
  .columns-md-4 {
    column-count: 4 !important; }
  [class*='columns-md-'] {
    padding-bottom: 1rem; } }

@media (min-width: 992px) {
  .columns-lg-none {
    column-count: inital !important; }
  .columns-lg-2 {
    column-count: 2 !important; }
  .columns-lg-3 {
    column-count: 3 !important; }
  .columns-lg-4 {
    column-count: 4 !important; }
  [class*='columns-lg-'] {
    padding-bottom: 1rem; } }

@media (min-width: 1200px) {
  .columns-xl-none {
    column-count: inital !important; }
  .columns-xl-2 {
    column-count: 2 !important; }
  .columns-xl-3 {
    column-count: 3 !important; }
  .columns-xl-4 {
    column-count: 4 !important; }
  [class*='columns-xl-'] {
    padding-bottom: 1rem; } }

.overflow-hidden {
  overflow: hidden !important; }

.font-10 {
  font-size: 10% !important; }

.font-20 {
  font-size: 20% !important; }

.font-30 {
  font-size: 30% !important; }

.font-40 {
  font-size: 40% !important; }

.font-50 {
  font-size: 50% !important; }

.font-60 {
  font-size: 60% !important; }

.font-70 {
  font-size: 70% !important; }

.font-80 {
  font-size: 80% !important; }

.font-90 {
  font-size: 90% !important; }

.font-100 {
  font-size: 100% !important; }

.font-110 {
  font-size: 100% !important; }

.font-10 {
  font-size: 10% !important; }

.font-20 {
  font-size: 20% !important; }

.font-30 {
  font-size: 30% !important; }

.font-40 {
  font-size: 40% !important; }

.font-50 {
  font-size: 50% !important; }

.font-60 {
  font-size: 60% !important; }

.font-70 {
  font-size: 70% !important; }

.font-80 {
  font-size: 80% !important; }

.font-90 {
  font-size: 90% !important; }

.font-100 {
  font-size: 100% !important; }

.font-110 {
  font-size: 110% !important; }

@media (min-width: 450px) {
  .font-s-10 {
    font-size: 10% !important; }
  .font-s-20 {
    font-size: 20% !important; }
  .font-s-30 {
    font-size: 30% !important; }
  .font-s-40 {
    font-size: 40% !important; }
  .font-s-50 {
    font-size: 50% !important; }
  .font-s-60 {
    font-size: 60% !important; }
  .font-s-70 {
    font-size: 70% !important; }
  .font-s-80 {
    font-size: 80% !important; }
  .font-s-90 {
    font-size: 90% !important; }
  .font-s-100 {
    font-size: 100% !important; }
  .font-s-110 {
    font-size: 110% !important; } }

@media (min-width: 576px) {
  .font-sm-10 {
    font-size: 10% !important; }
  .font-sm-20 {
    font-size: 20% !important; }
  .font-sm-30 {
    font-size: 30% !important; }
  .font-sm-40 {
    font-size: 40% !important; }
  .font-sm-50 {
    font-size: 50% !important; }
  .font-sm-60 {
    font-size: 60% !important; }
  .font-sm-70 {
    font-size: 70% !important; }
  .font-sm-80 {
    font-size: 80% !important; }
  .font-sm-90 {
    font-size: 90% !important; }
  .font-sm-100 {
    font-size: 100% !important; }
  .font-sm-110 {
    font-size: 110% !important; } }

@media (min-width: 768px) {
  .font-md-10 {
    font-size: 10% !important; }
  .font-md-20 {
    font-size: 20% !important; }
  .font-md-30 {
    font-size: 30% !important; }
  .font-md-40 {
    font-size: 40% !important; }
  .font-md-50 {
    font-size: 50% !important; }
  .font-md-60 {
    font-size: 60% !important; }
  .font-md-70 {
    font-size: 70% !important; }
  .font-md-80 {
    font-size: 80% !important; }
  .font-md-90 {
    font-size: 90% !important; }
  .font-md-100 {
    font-size: 100% !important; }
  .font-md-110 {
    font-size: 110% !important; } }

@media (min-width: 992px) {
  .font-lg-10 {
    font-size: 10% !important; }
  .font-lg-20 {
    font-size: 20% !important; }
  .font-lg-30 {
    font-size: 30% !important; }
  .font-lg-40 {
    font-size: 40% !important; }
  .font-lg-50 {
    font-size: 50% !important; }
  .font-lg-60 {
    font-size: 60% !important; }
  .font-lg-70 {
    font-size: 70% !important; }
  .font-lg-80 {
    font-size: 80% !important; }
  .font-lg-90 {
    font-size: 90% !important; }
  .font-lg-100 {
    font-size: 100% !important; }
  .font-lg-110 {
    font-size: 110% !important; } }

@media (min-width: 1200px) {
  .font-xl-10 {
    font-size: 10% !important; }
  .font-xl-20 {
    font-size: 20% !important; }
  .font-xl-30 {
    font-size: 30% !important; }
  .font-xl-40 {
    font-size: 40% !important; }
  .font-xl-50 {
    font-size: 50% !important; }
  .font-xl-60 {
    font-size: 60% !important; }
  .font-xl-70 {
    font-size: 70% !important; }
  .font-xl-80 {
    font-size: 80% !important; }
  .font-xl-90 {
    font-size: 90% !important; }
  .font-xl-100 {
    font-size: 100% !important; }
  .font-xl-110 {
    font-size: 110% !important; } }

.hide-text {
  font-size: 0; }
  .hide-text a:hover {
    border-color: transparent !important; }

.no-wrap {
  display: inline-block;
  white-space: nowrap; }

.anchor {
  position: absolute;
  transform: translateY(-15vh); }

.bg-full {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

#wpadminbar {
  top: auto;
  bottom: 0; }

.bg-transparent {
  background: transparent !important; }

[class*="col"]:not(.row) > [class*="col"] {
  padding-left: 0;
  padding-right: 0; }

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.flex-basis-auto {
  flex-basis: auto !important; }

.flex-basis-100 {
  flex-basis: 100% !important; }

.position-full {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
  .position-full + * {
    position: relative;
    z-index: 1; }

.position-ontop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.iframe-privacy--wrapper {
  min-height: 270px;
  background: rgba(0, 0, 0, 0.03);
  position: relative;
  max-width: 100%;
  width: 100%;
  margin: 0 auto; }
  .iframe-privacy--wrapper iframe {
    height: 100%;
    width: 100%; }
  .iframe-privacy--wrapper .iframe-privacy--message {
    background: white;
    border-radius: 5px;
    max-width: 400px;
    width: 80%;
    margin: auto;
    padding: 20px 30px;
    position: absolute;
    left: 50%;
    margin: 2rem;
    transform: translate(calc(-50% - 2rem));
    z-index: 1000;
    text-align: center; }
    .iframe-privacy--wrapper .iframe-privacy--message .iframe-privacy--source {
      color: #6c757d; }
    .iframe-privacy--wrapper .iframe-privacy--message .button {
      padding: 0.6rem 0.9rem !important;
      border: 1px solid #000 !important;
      background-color: transparent;
      margin: 1rem 0 1rem 0;
      display: inline-block;
      text-decoration: none !important;
      cursor: pointer; }
      .iframe-privacy--wrapper .iframe-privacy--message .button:hover {
        background-color: #e8e8e8; }
    .iframe-privacy--wrapper .iframe-privacy--message .play-button {
      padding-bottom: 1em;
      display: block; }
      .iframe-privacy--wrapper .iframe-privacy--message .play-button:before {
        position: relative;
        font-size: 5em;
        cursor: pointer;
        color: #054687; }
      .iframe-privacy--wrapper .iframe-privacy--message .play-button:hover:before {
        color: #007bc2; }

.cc-window {
  padding: 1.5em 1.5em 0.5em !important;
  font-size: 0.9em !important;
  box-shadow: 0 0 12px -5px rgba(20, 48, 143, 0.32);
  -ms-flex-direction: row !important;
  flex-direction: row !important;
  transition: opacity 1s ease, bottom 1s ease-in !important;
  background: #fff;
  max-width: 33em !important; }
  .scrolled .cc-window {
    bottom: -100% !important; }

.cc-message {
  margin-bottom: 0.5em !important; }

.cc-compliance {
  display: flex !important;
  align-self: center; }
  .cc-compliance a {
    margin-top: 0;
    margin-bottom: 1em;
    min-width: 80px;
    border: 0 none;
    font-size: 1.1em;
    margin-left: auto;
    margin-right: auto; }

.cc-deny {
  color: #aaa;
  font-weight: bold;
  font-size: 1em !important; }

.fancybox-container .d-none {
  display: inline-block !important; }

.fancybox-stage .fancybox-content {
  max-width: 1000px !important; }

.fancybox-stage .fancybox-slide--image .fancybox-content {
  max-width: initial !important; }

@font-face {
  font-family: "icon-font";
  src: url("../icons/fonts/icon-font.eot?9ba1decffd7234826d02dd3595d153b0?#iefix") format("embedded-opentype"), url("../icons/fonts/icon-font.woff2?9ba1decffd7234826d02dd3595d153b0") format("woff2"), url("../icons/fonts/icon-font.woff?9ba1decffd7234826d02dd3595d153b0") format("woff"), url("../icons/fonts/icon-font.ttf?9ba1decffd7234826d02dd3595d153b0") format("truetype"), url("../icons/fonts/icon-font.svg?9ba1decffd7234826d02dd3595d153b0#icon-font") format("svg");
  font-display: swap; }

.breadcrumb-trail .trail-items .trail-item:after, [class^="swiper-button"]:after, .more-link:after, [data-icon]:before, [data-icon-right]:after, [data-icon-left]:before, [class^="icon-"]:before, [class*=" icon-"]:before, .button:before, .untertitel nav a::after,
.breadcrumbs .trail-item:not(.trail-begin):not(.trail-end)::after,
.button::before,
.content ul li::before,
.collapsible-button::after,
.slider-step-list li::after, .menu > li a:after, .accordion > h2:after,
.accordion > h3:after {
  font-family: icon-font !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  line-height: inherit;
  padding: 0 0.2em;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s; }

.icon-a:before {
  content: "\61"; }

.icon-left:before {
  content: "\62"; }

.icon-right:before {
  content: "\63"; }

.icon-up:before {
  content: "\64"; }

.icon-down:before {
  content: "\65"; }

.icon-plus:before {
  content: "\66"; }

.icon-bookmark:before {
  content: "\67"; }

.icon-tel:before {
  content: "\68"; }

.icon-i:before {
  content: "\69"; }

.icon-minus:before {
  content: "\6a"; }

.icon-fax:before {
  content: "\6b"; }

.icon-mail:before {
  content: "\6c"; }

.icon-check:before {
  content: "\6d"; }

.icon-i-bold:before {
  content: "\6e"; }

.icon-home:before {
  content: "\6f"; }

.icon-bullet:before {
  content: "\70"; }

.icon-info:before {
  content: "\71"; }

.icon-bars:before {
  content: "\72"; }

.icon-list-ul:before {
  content: "\73"; }

.icon-list-ol:before {
  content: "\74"; }

.icon-at:before {
  content: "\75"; }

.icon-a-bold:before {
  content: "\76"; }

.icon-globe:before {
  content: "\77"; }

.icon-arrows-alt:before {
  content: "\78"; }

.icon-question-circle:before {
  content: "\79"; }

.icon-close-round:before {
  content: "\7a"; }

.icon-link:before {
  content: "\41"; }

.icon-expand:before {
  content: "\42"; }

.icon-screen-full:before {
  content: "\43"; }

.icon-screen-normal:before {
  content: "\44"; }

.icon-instagram-brands:before {
  content: "\45"; }

.icon-facebook-square:before {
  content: "\46"; }

.icon-cookie-bite:before {
  content: "\47"; }

.icon-play-solid:before {
  content: "\48"; }

.breadcrumb-trail {
  flex-basis: 100%;
  max-width: 100%;
  font-size: 0.85rem;
  padding-top: 10px;
  padding-bottom: 15px;
  color: #fff;
  font-size: .85em; }
  .breadcrumb-trail .trail-items {
    padding: 0;
    margin-bottom: 0; }
    .breadcrumb-trail .trail-items > * {
      display: inline-block; }
    .breadcrumb-trail .trail-items a {
      text-decoration: none;
      transition: 0.3s;
      color: inherit; }
      .breadcrumb-trail .trail-items a:hover {
        text-decoration: underline; }
    .breadcrumb-trail .trail-items .trail-item {
      position: relative;
      margin-right: 1.3em; }
      .breadcrumb-trail .trail-items .trail-item:after {
        content: 'c';
        left: 100%;
        bottom: -.4em; }
    .breadcrumb-trail .trail-items .trail-begin {
      margin-right: 1.5em; }
      .breadcrumb-trail .trail-items .trail-begin:after {
        content: 'g';
        left: 0; }
      .breadcrumb-trail .trail-items .trail-begin a span {
        font-size: 0; }
    .breadcrumb-trail .trail-items .trail-end {
      font-size: .85em; }
      .breadcrumb-trail .trail-items .trail-end:after {
        content: none; }

#togglebuttons .button {
  display: block; }

.toggle {
  display: none; }

.toggle.active {
  display: block; }

.button.active[data-toggle],
.button.active[data-toggle] * {
  color: #666666;
  pointer-events: none;
  cursor: default; }

[class^="swiper-button"]:after {
  text-shadow: #00000047 0 0 10px; }

[class^="swiper-button"].swiper-button-next {
  right: 0; }
  [class^="swiper-button"].swiper-button-next:after {
    content: "c"; }

[class^="swiper-button"].swiper-button-prev {
  left: 0; }
  [class^="swiper-button"].swiper-button-prev:after {
    content: "b"; }

.swiper-button-disabled {
  display: none !important; }

.swiper-container.gallery .swiper-slide, .swiper-container.images.with-video .swiper-slide {
  width: auto; }
  .swiper-container.gallery .swiper-slide a, .swiper-container.images.with-video .swiper-slide a {
    display: inherit; }
  .swiper-container.gallery .swiper-slide img, .swiper-container.images.with-video .swiper-slide img {
    width: auto; }

.swiper-scrollbar + .swiper-wrapper {
  padding-bottom: 20px; }

@font-face {
  font-family: "DINWeb";
  font-weight: 800;
  src: url("../fonts/1448030/70c039e2-a852-4547-ad98-6b79af5b6dbd.eot?#iefix");
  src: url("../fonts/1448030/70c039e2-a852-4547-ad98-6b79af5b6dbd.eot?#iefix") format("eot"), url("../fonts/1448030/c87b04a3-9f95-452b-8890-ead7afa50ab7.woff2") format("woff2"), url("../fonts/1448030/b2cf66d4-5fbe-4a96-8e55-590824de9b1c.woff") format("woff"), url("../fonts/1448030/eee3d2a5-e04d-45e0-b9e0-fb31cf21e8bc.ttf") format("truetype"), url("../fonts/1448030/7daab314-2a76-4a8e-aed9-6b443f3c9f8e.svg#7daab314-2a76-4a8e-aed9-6b443f3c9f8e") format("svg");
  font-display: swap; }

@font-face {
  font-family: "DINWeb";
  font-weight: 600;
  src: url("../fonts/1448154/8bb8c99f-3905-410f-8a60-2e69afdd440e.eot?#iefix");
  src: url("../fonts/1448154/8bb8c99f-3905-410f-8a60-2e69afdd440e.eot?#iefix") format("eot"), url("../fonts/1448154/a60723fa-4fcc-439f-a33a-ed694f63e1c0.woff2") format("woff2"), url("../fonts/1448154/35eddc75-3a69-46b8-8365-34c8ed41e4c1.woff") format("woff"), url("../fonts/1448154/54452f1e-3003-4554-80d5-4232a4a1b088.ttf") format("truetype"), url("../fonts/1448154/1dfe890f-6e95-4ede-9e16-7b9c2ce7f9b9.svg#1dfe890f-6e95-4ede-9e16-7b9c2ce7f9b9") format("svg");
  font-display: swap; }

@font-face {
  font-family: "DINWeb";
  font-weight: 400;
  src: url("../fonts/1448172/693936bd-1bbd-4194-98e9-352327aab9f9.eot?#iefix");
  src: url("../fonts/1448172/693936bd-1bbd-4194-98e9-352327aab9f9.eot?#iefix") format("eot"), url("../fonts/1448172/e89343d2-d818-4905-9ae9-96e007d470fc.woff2") format("woff2"), url("../fonts/1448172/bb6c668a-a395-4ae2-ace0-d9b79b6c9101.woff") format("woff"), url("../fonts/1448172/45e84ede-5e01-451a-9de0-6f8b4ed5e506.ttf") format("truetype"), url("../fonts/1448172/fb1f8413-ec85-4ff4-9855-0f1e48e584ce.svg#fb1f8413-ec85-4ff4-9855-0f1e48e584ce") format("svg");
  font-display: swap; }

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0;
  width: 100%;
  line-height: 1;
  padding-top: 0;
  padding-bottom: 0;
  display: block; }

p,
h1,
h2,
h3,
h4 {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; }

main p {
  line-height: 1.5;
  margin: 0 0 1em; }

button {
  -webkit-appearance: none;
  appearance: none;
  padding: 0;
  margin: 0;
  background: 0 0;
  color: inherit;
  border: 0 none;
  cursor: pointer; }

h1,
.h1 {
  font-weight: 400;
  font-size: 1.8rem; }
  @media (min-width: 450px) {
    h1,
    .h1 {
      font-size: 2.5em; } }
  @media (min-width: 992px) {
    h1,
    .h1 {
      font-size: 4em; } }
  h1 span:not(:last-of-type):after,
  .h1 span:not(:last-of-type):after {
    display: block;
    content: ''; }

h2,
.h2 {
  color: #007bc2;
  font-weight: 800;
  font-size: 1.8rem;
  margin-left: -0.07em; }
  @media (min-width: 768px) {
    h2,
    .h2 {
      font-size: 2.2rem; } }
  @media (min-width: 992px) {
    h2,
    .h2 {
      font-size: 3rem; } }
  h2 small,
  .h2 small {
    font-size: 1rem;
    font-weight: 300;
    display: block; }
  h2 a,
  .h2 a {
    text-decoration: none; }

h3,
.h3 {
  color: #064888;
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: .8em; }
  .aktuelles h3,
  .category h3, .aktuelles
  .h3,
  .category
  .h3 {
    font-size: 2em;
    font-weight: 800;
    color: #007bc2;
    padding-top: 0; }
    .aktuelles h3:hover,
    .category h3:hover, .aktuelles
    .h3:hover,
    .category
    .h3:hover {
      color: #064888; }
  .aktuelles h3, .aktuelles
  .h3 {
    padding-top: 0.1em;
    padding-bottom: 0.3em; }
  @media (min-width: 768px) {
    .aktuelles h3,
    .category h3, .aktuelles
    .h3,
    .category
    .h3 {
      font-size: 2.5em; }
    .aktuelles h3, .aktuelles
    .h3 {
      padding-top: 0.5em;
      padding-bottom: 0.4em; } }

h4,
.h4 {
  color: #064888;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: .5em; }

h5,
.h5 {
  color: inherit;
  font-size: 1rem;
  font-weight: 600; }

.thumbnail-box h4,
.thumbnail-box .h4,
.box h4,
.box .h4 {
  color: secondary;
  font-size: 1em;
  font-weight: 600;
  margin-top: .5em; }

a[data-icon-left], a[data-icon-right] {
  text-decoration: none; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover {
    color: #666666; }

p a:not([class]),
a > small {
  color: #666666;
  text-decoration: underline;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  p a:not([class]):hover,
  a > small:hover {
    text-decoration: none; }

footer p a:not([class]) {
  color: inherit; }

small,
.small {
  font-size: 90%;
  color: #666666; }
  small[data-icon-left],
  .small[data-icon-left] {
    margin-left: 1em; }

.more-link,
.button  {
  cursor: pointer; }
  .more-link:hover,
  .button :hover {
    background-color: #e8e8e8; }

i[class^='icon-']:before {
  bottom: -0.16em; }

.more-link {
  cursor: pointer; }
  .more-link:after {
    content: '\63';
    margin-left: 0.4em;
    bottom: -0.2em; }

.untertitel {
  margin: 0.4em 0;
  line-height: 1.2;
  font-size: 1.1rem;
  font-weight: 400;
  color: #000;
  display: block; }
  @media (min-width: 768px) {
    .untertitel {
      font-size: 1.3rem; } }
  #page-header .untertitel {
    margin-bottom: 0; }
  #page-header .untertitel {
    color: #fff; }
  .untertitel p {
    margin-bottom: 0;
    color: inherit; }
  .untertitel nav a {
    position: relative;
    margin-right: 1em; }
    .untertitel nav a:after {
      top: 60%;
      font-size: 0.8em; }
    .untertitel nav a[href^="http"]:after {
      content: "c"; }

aside h3 {
  font-size: 1.2rem; }

[data-icon]:before {
  position: relative;
  top: 0;
  content: attr(data-icon); }

[data-icon-right]:after {
  content: attr(data-icon-right); }

[data-icon-left]:before {
  content: attr(data-icon-left); }

[class^="icon-"], [class*=" icon-"], [data-icon-left], .button {
  position: relative;
  margin-left: 2em; }
  [class^="icon-"]:before, [class*=" icon-"]:before, [data-icon-left]:before, .button:before {
    margin-right: 100%;
    right: 0; }

[data-icon-right] {
  position: relative;
  margin-right: 2em; }

.untertitel nav a:after,
h3.collapsible-button:after {
  content: "e"; }

.icon-bars:before {
  margin-top: .07em; }

[data-icon-left="h"]:before,
.icon-home:before {
  margin-top: .14em; }

[data-icon-left="h"]:before {
  font-size: 1.2em; }

[data-icon-left="H"]:before {
  bottom: -.02em; }

.icon-home:before {
  top: 0;
  transform: none;
  margin-top: .14em; }

.icon-mail:before {
  margin-top: .19em; }

.icon-right:before,
[data-icon-left]:before,
[data-icon-right]:after {
  margin-top: .17em; }

ul li a[class*="icon"] {
  display: block;
  margin-left: 1.4em; }
  ul li a[class*="icon"]:before {
    top: .1em;
    transform: none; }

.pala-i, .pala-a {
  font-family: icon-font;
  width: 1em;
  margin-left: -0.3em;
  font-size: .9em;
  display: inline-block;
  vertical-align: -8%; }

.button {
  line-height: 1.2;
  padding: 1em 0;
  color: #007bc2;
  font-weight: 800;
  display: inline-block;
  background: none;
  border: 0;
  cursor: pointer;
  text-align: left;
  transition: 0.3s; }
  .button:before {
    font-size: 1.9em;
    content: "c";
    transition: 0.3s; }
  .button[data-icon-left]:before {
    content: attr(data-icon-left);
    font-size: 1.2em;
    transform: translate(-0.5em, -50%);
    color: inherit; }
  .button:before,
  .button .second-line {
    color: #000;
    font-weight: 400; }
  .button:hover {
    color: #00a3ff;
    text-decoration: none; }
    .button:hover:before {
      transform: translate(7px, -50%); }
    .button:hover[data-icon-left]:before {
      transform: translate(-0.1em, -50%); }

.border-button {
  border: 1px solid #fff;
  padding: 0.5em;
  transition: 0.5s border-color, 0.5s padding;
  font-size: 0.9em; }
  .border-button:hover a {
    color: inherit; }
    .border-button:hover a:before {
      transform: translate(3px, -50%); }

.cta {
  color: #fff;
  background: #007bc2;
  display: block;
  text-align: center;
  margin-right: 10px;
  padding: 0.5em;
  font-weight: 800;
  transition: 0.3s;
  cursor: pointer; }
  .cta:hover {
    background: #064888;
    color: #fff; }

.tel {
  font-weight: 600;
  font-size: 1.4em;
  color: #007bc2;
  display: block;
  margin-left: 1.5em;
  margin-top: .5em; }
  .tel:hover {
    color: #00a3ff; }

input,
textarea,
button[type="submit"],
select {
  width: 100%;
  font-size: 1em;
  line-height: 1.3;
  padding: 0.5em !important;
  box-sizing: border-box;
  margin: 0 0 0.5em 0;
  border: 1px solid #ccc;
  background: #fff;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0; }

#searchform {
  padding-top: 1em; }
  #searchform .search-submit {
    width: 16.66666% !important; }
  #searchform input[type="submit"] {
    margin-left: -1px;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  #searchform input, #searchform button {
    height: 2.6em; }

.wpcf7 input:not(.wpcf7-validates-as-required),
.wpcf7 textarea:not(.wpcf7-validates-as-required) {
  background: #f2f2f2; }

input[type="submit"], button[type="submit"] {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #fff;
  background: #007bc2 !important;
  border-color: #007bc2;
  cursor: pointer; }
  input[type="submit"]:hover, button[type="submit"]:hover {
    background: #064888; }

input[name="fax"] {
  display: none; }

.error {
  padding-bottom: 1em;
  margin-top: -1em; }

.sent .wpcf7-submit {
  pointer-events: none;
  background: green;
  cursor: default; }

input[type='checkbox'] {
  background: none;
  appearance: none;
  border: 1px solid #333333;
  height: 1.1em;
  width: 1.1em;
  margin-left: 0.2rem;
  margin-right: 0.3rem;
  padding: 0.2em;
  display: inline-block;
  background-clip: content-box;
  margin-bottom: -2px; }
  input[type='checkbox']:hover, input[type='checkbox']:focus, input[type='checkbox']:checked {
    border-color: #007bc2; }
  input[type='checkbox']:checked {
    background-color: #007bc2;
    border: 1px solid #007bc2;
    padding: 2px !important;
    background-clip: content-box; }

.screen-reader-response {
  display: none; }
  .screen-reader-response[data-status] {
    margin-top: 1rem;
    border: 1px dashed var(--danger, red);
    padding: 5px 8px;
    display: block;
    margin-bottom: 1em; }
  .screen-reader-response[data-status='mail_sent'] {
    border: 1px dashed var(--success, green); }
  .screen-reader-response:empty {
    display: none !important; }
  .screen-reader-response ul {
    display: none; }

label, label * {
  cursor: pointer; }

.wpcf7-form .privacy {
  cursor: pointer; }

body {
  font-family: 'DINWeb', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 14px;
  box-sizing: border-box;
  width: 100%;
  color: #000; }

#wrapper {
  padding-top: 7em;
  border: 15px #054687 solid;
  background-clip: content-box;
  background: #3a3a3a url("../images/wall.jpg") repeat-x top; }
  @media (min-width: 768px) {
    #wrapper {
      padding-top: 9em; } }

main > #archive-header > .row,
main > #page-header:not(.header-grid) > .row,
main .header-grid,
main > section > .row,
main .einleitung > .row,
footer > .row,
#header-breadcrumb {
  max-width: 1140px;
  margin-left: auto !important;
  margin-right: auto !important;
  padding: 10px; }

#page-header:not(.header-grid):after,
.header-grid .bg-white:before,
.home main:before,
#archive-header:before {
  background: #fff url("../images/moon.jpg") repeat-x top;
  position: absolute;
  z-index: -1;
  content: "";
  height: 100%;
  width: 100%;
  left: 0; }

.header-grid .einleitung:before {
  transform: translateY(-12px); }

main > section {
  padding-top: 3em;
  padding-bottom: 4em; }

.bg-white {
  color: #000;
  background: transparent !important; }

.grey,
.bg-grey {
  background: #e5e5e6;
  max-width: 100%; }

.grey,
.bg-grey,
.bg-white,
#archive-header > .grid {
  padding-top: 2em;
  padding-bottom: 1em; }

@media (min-width: 768px) {
  .bg-grey {
    padding-top: 4em;
    padding-bottom: 4em; } }

header + .bg-white {
  padding-top: 0; }

.page-id-2524 main > .category:nth-child(odd) {
  background: #e5e5e6; }

.page-id-2524 main > .category:nth-child(even) {
  background: transparent; }

img {
  max-width: 100%;
  height: auto; }

.container.row,
.container-fluid.row {
  margin: auto;
  padding: 0; }

@media (min-width: 1200px) {
  aside[class*="col"] > .inner {
    margin-left: 30px; } }

aside .thumbnail {
  padding: 0.5em;
  background: #e5e5e6;
  text-align: center; }
  aside .thumbnail img {
    width: 4.5em;
    height: 4.5em;
    object-fit: contain;
    max-width: initial; }

.produktliste {
  padding-left: 5px !important;
  padding-right: 5px !important; }
  .produktliste li {
    background-clip: content-box;
    padding: 5px !important; }
    .produktliste li:hover {
      background-color: #f2f2f2;
      transition: 0.3s; }
    .produktliste li p {
      margin-bottom: 0; }
  .produktliste.partnerzubehoer li .thumbnail {
    height: 3em; }
  .produktliste.partnerzubehoer li:hover {
    background-color: inherit; }

.content {
  margin-bottom: 1.5em; }
  .content ul {
    margin: 1em 0 1.5em;
    padding-left: 40px; }
    .content ul li {
      font-weight: 600;
      color: #064888;
      padding: 0.2em 0; }
      .content ul li:before {
        margin-left: -1.7em;
        padding-right: 0.9em;
        font-size: 1.2em;
        top: .2em;
        transform: none; }
      .content ul li ul {
        list-style: disc;
        margin: initial;
        padding-left: 20px; }
        .content ul li ul li {
          list-style: disc; }
          .content ul li ul li:before {
            content: ""; }

ul.inline li {
  padding-right: 3em !important;
  display: inline-block !important;
  min-width: 44%; }

.usps .usp {
  margin-bottom: 1em; }
  .usps .usp[class*="icon"] {
    margin-left: 1.5em;
    padding-left: .3em; }
  .usps .usp:before {
    color: #007bc2;
    font-size: 1.5em;
    top: .05em;
    transform: none; }
  .usps .usp h4 {
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 0; }
  .usps .usp p {
    margin: 0; }
  .usps .usp .button {
    padding: 0; }

.ansprechpartner {
  font-size: 0.8em; }
  .ansprechpartner div {
    padding: 0 0.2em 1em 0; }
    .ansprechpartner div .name {
      display: block;
      font-size: 1.2em; }

.aktuelles, aside {
  margin-bottom: 2em; }

.partner {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center; }
  .partner li {
    display: inline-block;
    width: 32%;
    padding: 10px;
    box-sizing: border-box; }
    .partner li img {
      height: 100%;
      max-width: initial;
      width: 100%;
      object-fit: contain;
      max-height: 10vw; }
    @media (min-width: 450px) {
      .partner li {
        width: 29%; } }
    @media (min-width: 768px) {
      .partner li {
        width: 49%; } }
    @media (min-width: 992px) {
      .partner li {
        width: 32%; }
        .partner li img {
          max-height: 65px; } }

.page-template-page-produkt main > section > .row {
  align-items: flex-start !important; }

.haeberle-baukasten .thumbnail-box .thumbnail img {
  width: 80%; }

#header-breadcrumb {
  position: relative;
  z-index: 2; }

.produkt-bild {
  display: flex;
  justify-content: center;
  max-height: 66vw;
  margin: auto; }
  @media (min-width: 450px) {
    .produkt-bild, .produkt-bild img {
      max-height: 58vw; } }
  @media (min-width: 576px) {
    .produkt-bild, .produkt-bild img {
      max-height: 50vw; } }
  @media (min-width: 768px) {
    .produkt-bild, .produkt-bild img {
      max-height: 30vw; } }
  @media (min-width: 1200px) {
    .produkt-bild, .produkt-bild img {
      max-height: 400px; } }
  @media (min-width: 450px) {
    .has-einleitung .produkt-bild, .has-einleitung .produkt-bild img {
      max-height: 58vw; } }
  @media (min-width: 576px) {
    .has-einleitung .produkt-bild, .has-einleitung .produkt-bild img {
      max-height: 50vw; } }
  @media (min-width: 768px) {
    .has-einleitung .produkt-bild, .has-einleitung .produkt-bild img {
      max-height: 43vw; } }
  @media (min-width: 1200px) {
    .has-einleitung .produkt-bild, .has-einleitung .produkt-bild img {
      max-height: 400px; } }
  .images.with-video .produkt-bild {
    padding: 0 20px; }
    .images.with-video .produkt-bild, .images.with-video .produkt-bild img {
      margin: auto; }
    @media (min-width: 768px) {
      .images.with-video .produkt-bild {
        padding: 0 40px; }
        .images.with-video .produkt-bild, .images.with-video .produkt-bild img {
          max-height: 250px; } }
  .produkt-bild img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-width: calc(100vw - 70px); }

#page-header .swiper-container [class^="swiper-button"]::after {
  color: #fff;
  --swiper-navigation-size: 4em; }

main .header-grid {
  padding: 4em 20px 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "titel";
  grid-gap: 10px;
  align-items: end;
  align-content: end;
  grid-template-columns: 1fr;
  grid-template-areas: "search" "gallery" "titel" "einleitung"; }
  main .header-grid#page-header {
    padding-top: 20px; }
  main .header-grid.has-video {
    grid-template-areas: "video" "search" "titel" "einleitung" "gallery" !important;
    grid-template-columns: 1fr !important;
    overflow: hidden;
    padding-top: 0; }
    main .header-grid.has-video .titel {
      margin-top: -10px;
      height: 0; }
      main .header-grid.has-video .titel .inner {
        transform: translateY(-100%);
        position: relative; }
      main .header-grid.has-video .titel * {
        pointer-events: none; }
    @media (min-width: 768px) {
      main .header-grid.has-video {
        padding-top: 20px; } }
    @media (min-width: 992px) {
      main .header-grid.has-video {
        overflow: visible; } }
  main .header-grid .video {
    grid-area: video;
    width: calc(100% + 60px);
    margin-left: -30px;
    position: relative;
    z-index: -1;
    margin-bottom: -20px; }
    main .header-grid .video a {
      position: relative; }
      main .header-grid .video a:before {
        content: " ";
        top: -250px;
        left: -30px;
        right: -30px;
        bottom: 2px;
        position: absolute;
        background: radial-gradient(ellipse at left 130%, black 20%, rgba(0, 0, 0, 0) 70%); }
    main .header-grid .video video {
      width: 100%;
      object-fit: cover; }
  main .header-grid:hover .video {
    z-index: 0; }
  main .header-grid .images {
    grid-area: gallery;
    width: 100%;
    align-self: start; }
  main .header-grid .titel {
    grid-area: titel;
    align-self: end; }
  main .header-grid .einleitung {
    grid-area: einleitung;
    align-self: start;
    margin-left: 0 !important; }
    main .header-grid .einleitung *:first-child {
      max-width: 820px; }
  main .header-grid .einleitung-aside {
    grid-area: aside; }
  main .header-grid #searchform {
    grid-area: search;
    justify-self: end; }
  @media (min-width: 768px) {
    main .header-grid .images {
      margin-left: 10px; }
    main .header-grid.has-gallery {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "titel gallery"; }
    main .header-grid.has-einleitung.has-gallery {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "titel gallery" "einleitung gallery"; }
    main .header-grid.has-einleitung.has-einleitung-aside.has-gallery {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "titel gallery" "einleitung einleitung"; }
    main .header-grid.has-search {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "titel search"; }
    main .header-grid.has-einleitung.has-search {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "titel search" "einleitung einleitung"; } }

.gallery [class^="swiper-button"]::after, .images.with-video [class^="swiper-button"]::after {
  --swiper-navigation-size: 3em;
  color: #007bc2 !important; }

.gallery .item, .images.with-video .item {
  padding-right: 10px; }
  .gallery .item.thumbnail img, .images.with-video .item.thumbnail img {
    height: 200px; }

#header {
  position: fixed;
  z-index: 999;
  top: 15px;
  left: 15px;
  right: 15px;
  transition: 0.5s all; }
  #header > .row {
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    flex-wrap: nowrap; }
    @media (max-width: 767.98px) {
      #header > .row > * {
        margin-top: -10px; } }
    #header > .row #logo {
      text-align: center;
      width: 100%;
      max-width: 5em;
      margin-top: -10px;
      padding-left: 0; }
      @media (min-width: 768px) {
        #header > .row #logo {
          max-width: 7em;
          padding-left: 10px; } }
      #header > .row #logo img {
        width: 100%;
        transition: 0.5s all; }
  #header:hover, #header.is-hover, .scrolled #header {
    background: #000 url("../images/wall.jpg") repeat-x top; }
  .scrolled #header {
    top: 0;
    margin-top: -8px; }
    .scrolled #header > .row #logo {
      margin-top: -5px; }
      .scrolled #header > .row #logo img {
        width: 2.6em; }
    .scrolled #header > .row .border-button {
      border-color: transparent;
      padding: 0; }

h1 .logo img {
  max-width: 120px; }
  @media (min-width: 450px) {
    h1 .logo img {
      max-width: 150px; } }

.logo img {
  max-width: 100%; }

.menu {
  padding: 0;
  list-style: none;
  margin-bottom: 0; }
  .menu:not(.container) {
    margin: 0;
    padding: 0; }
  .menu > li {
    width: auto;
    padding-right: 15px; }
    .menu > li a {
      text-decoration: none;
      color: inherit;
      transition: 0.3s all;
      color: #00a3ff;
      font-weight: 800;
      position: relative;
      margin-right: 1em; }
      .menu > li a:after {
        content: "e";
        bottom: -.2em; }
      .menu > li a:hover, .menu > li a.is-hover {
        color: #007bc2; }
    .menu > li .sub-menu {
      list-style: none;
      padding: 0; }
      .menu > li .sub-menu a {
        color: #fff;
        font-weight: 400;
        white-space: nowrap; }
        .menu > li .sub-menu a:after {
          content: ''; }
        .menu > li .sub-menu a:hover {
          color: #666666; }

#header .menu {
  display: flex; }
  @media (min-width: 1100px) {
    #header .menu {
      justify-content: space-between; } }
  #header .menu > li .sub-menu {
    max-width: 0;
    opacity: 0;
    max-height: 3em;
    overflow: hidden;
    transition: 1s max-height, 1s max-width, 1s opacity;
    padding-bottom: 10px; }
    @media (min-width: 1050px) {
      #header .menu > li .sub-menu {
        opacity: 1;
        max-width: 9.5em; } }
    @media (min-width: 1100px) {
      #header .menu > li .sub-menu {
        max-width: 50em; } }
  #header .menu > li:hover .sub-menu, #header .menu > li.is-hover .sub-menu {
    max-width: 50em;
    max-height: 50em;
    transition: 1s max-height, 1s max-width, 1s opacity;
    opacity: 1; }
  .scrolled #header .menu .sub-menu {
    max-height: 0;
    opacity: 0; }

#navtoggle {
  color: #fff;
  font-size: 2.5rem;
  padding: 0;
  margin-left: 1.15em; }

/*
	Slideout Stuff
 */
#wrapper {
  position: relative;
  z-index: 1;
  background-color: #fff;
  overflow: hidden;
  transition: opacity 0.5s; }

#responsivemenu {
  text-align: left;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 260px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none; }
  #responsivemenu ul {
    list-style: none;
    padding-left: 0; }
    #responsivemenu ul.menu {
      padding: 3rem 2rem;
      background: #3b3b3b url("../images/wall.jpg") repeat-x top;
      background-size: auto 100%; }
    #responsivemenu ul li {
      margin-top: 15px;
      padding-right: 0; }
      #responsivemenu ul li .sub-menu li {
        margin-top: 0; }
    #responsivemenu ul.secondary-menu {
      padding: 2rem; }

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden; }

.slideout-open #wrapper > * {
  opacity: 0.5; }

.slideout-open .slideout-menu {
  display: block !important; }

.slideout-open #navtoggle:before {
  content: 'c'; }

#menu-footermenue [class*="float-"] {
  padding-bottom: 1em; }
  @media (min-width: 576px) {
    #menu-footermenue [class*="float-"] {
      float: left;
      width: 50%; } }

@media (min-width: 992px) {
  #menu-footermenue .float-3 {
    width: 39%; }
  #menu-footermenue .float-2 {
    width: 22%; } }

.adresse.icon-home {
  margin-left: 1.3em; }

table {
  width: 100%;
  border-collapse: separate;
  margin-bottom: 1em;
  border: 0 none;
  width: auto;
  border-spacing: 0; }
  table pre {
    margin-bottom: 0; }
  table tr > * {
    vertical-align: top;
    border: 0;
    padding: 0;
    padding: 0.2em 0.5em 0.2em 0;
    border: 0.5px solid transparent;
    text-align: left; }
    table tr > *[rowspan] {
      border: 0 none;
      text-align: center; }
    table tr > *.blue {
      background: #007bc2 !important;
      color: #fff !important; }
  table tr th {
    font-weight: 400;
    text-decoration: underline; }
  table.typ-1, table.daten {
    font-size: 0.9em;
    line-height: 1.6;
    background: #fff;
    width: 100%; }
    table.typ-1 tr > *:first-child, table.daten tr > *:first-child {
      text-align: right; }
    table.typ-1 tr:first-of-type th:not(:first-of-type), table.daten tr:first-of-type th:not(:first-of-type) {
      background: #fff;
      color: #000;
      text-align: center;
      font-weight: 600; }
    table.typ-1 tr > *, table.daten tr > * {
      background: #fff;
      border-color: #333333;
      padding: 0.2em 0.5em; }
    table.typ-1 tr th, table.daten tr th {
      text-decoration: none;
      position: static;
      background: #007bc2;
      color: #fff;
      font-weight: 600; }
    table.typ-1 tr td, table.daten tr td {
      color: #000;
      text-align: center; }

table.codes-1 tr *:first-child {
  text-align: right;
  white-space: nowrap; }

table.typ-2 tr *:first-child {
  white-space: nowrap; }

.table-wrapper {
  overflow: scroll;
  max-width: 100%; }

.collapsible.content {
  margin-bottom: 3em; }

.collapsible.active .inner {
  height: auto; }

.collapsible.preactive .inner {
  height: auto !important; }

.collapsible .inner {
  overflow: hidden; }
  .collapsible .inner .inner {
    overflow: visible; }

.collapsible .collapsible-button {
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: #064888; }
  .collapsible .collapsible-button:not(h3) {
    padding-top: .8em; }
  .collapsible .collapsible-button.active {
    padding-top: 0; }
  .collapsible .collapsible-button:after {
    transform: none;
    top: .18em;
    padding-left: 0.3em;
    position: relative; }

.category .collapsible .inner {
  height: 22em; }

h3.collapsible-button:after,
h3 a:after {
  color: #000;
  padding-left: 0;
  top: 0.32em; }

.content.collapsible .inner {
  height: 10.4em;
  overflow: hidden; }

aside .collapsible > .inner {
  height: 12em; }

aside .partnerzubehoer.collapsible > .inner {
  height: 9em; }

.accordion > h2:after,
.accordion > h3:after {
  content: "";
  color: #000;
  font-size: 1.3em;
  top: auto;
  transform: none;
  padding: 0; }

@media (max-width: 575.98px) {
  .accordion.collapsible .inner {
    overflow: visible !important;
    height: auto !important; }
  .accordion.collapsible .collapsible-button {
    display: none; }
  .accordion > * {
    display: none;
    opacity: 0;
    transition: all; }
  .accordion > h2,
  .accordion > h3 {
    cursor: pointer;
    display: block;
    opacity: 1; }
    .accordion > h2:hover,
    .accordion > h3:hover {
      color: #007bc2; }
    .accordion > h2:after,
    .accordion > h3:after {
      content: "e"; }
  .accordion.active > * {
    display: block;
    opacity: 1; }
  .accordion.active > h2:after,
  .accordion.active > h3:after {
    content: "d"; } }

.post-type-archive #header-breadcrumb {
  display: block !important; }

.post-type-archive article.post {
  margin-bottom: 2em; }
  .post-type-archive article.post > .icon-list-ol {
    margin-left: 3.5em; }
    .post-type-archive article.post > .icon-list-ol:before {
      font-size: 1.5em;
      padding-right: 0.7em;
      color: #333333; }

.pagination {
  justify-content: center; }
  .pagination * {
    padding: 0.2em 0.5em 0.3em;
    background: #007bc2;
    color: #fff;
    margin: 0 0.1em; }
  .pagination a {
    transition: 0.3s; }
    .pagination a:hover {
      background: #064888; }
  .pagination span {
    background: #e5e5e6;
    color: #000; }

.thumbnail-box {
  position: relative;
  height: 19em; }
  .thumbnail-box, .thumbnail-box * {
    hyphens: none;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none; }
  .thumbnail-box .thumbnail {
    display: block;
    height: 13em; }
    .thumbnail-box .thumbnail.logo img {
      padding: 10% 5%; }
    .thumbnail-box .thumbnail img {
      height: 100%;
      width: 100%;
      max-width: initial;
      object-fit: contain; }
  .thumbnail-box p {
    margin-bottom: 0; }
  .thumbnail-box .fraesen .labels,
  .thumbnail-box .schleifen .labels {
    position: absolute;
    top: 43%;
    left: 10%; }
  .thumbnail-box .haeberle-baukasten .thumbnail,
  .thumbnail-box .software .thumbnail {
    height: 9em; }

.page-template-page-produkte .thumbnail-box {
  /* margin-top: 3.5em; */
  margin-bottom: 3em; }

#fullscreen-slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  color: #fff; }
  #fullscreen-slider > .swiper-wrapper {
    height: 50vh;
    min-height: 450px;
    max-height: 48vw; }
  #fullscreen-slider img, #fullscreen-slider video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 20%; }
  #fullscreen-slider video + .position-ontop {
    background: rgba(0, 0, 0, 0.3); }
  @media (max-width: 767.98px) {
    #fullscreen-slider .position-ontop {
      background: rgba(0, 0, 0, 0.5); } }
  #fullscreen-slider .position-ontop > * {
    height: 100%; }

.big {
  font-weight: 800;
  font-size: 2em;
  line-height: 1;
  padding-top: 0.5em; }
  @media (min-width: 768px) {
    .big {
      font-size: 2.5em; } }

.is-video .button {
  color: #fff;
  font-weight: 800; }
  .is-video .button:before {
    color: inherit; }
  .is-video .button .second-line {
    color: #007bc2 !important;
    font-weight: 600; }

.is-video div.button {
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999; }
  @media (min-width: 768px) {
    .is-video div.button {
      left: auto;
      right: 4em;
      bottom: auto;
      top: 1em;
      transform: none;
      text-shadow: #000 0 0 25px; } }

body.home .usps p {
  display: none; }

@media (min-width: 768px) {
  body.home aside + .aktuelles {
    order: -1; } }

@media (min-width: 576px) {
  body.home address, body.home .usps {
    display: flex;
    flex-wrap: wrap; }
    body.home address > *, body.home .usps > * {
      flex-basis: 100%; }
    body.home address .kontakt,
    body.home address .adresse, body.home .usps .kontakt,
    body.home .usps .adresse {
      flex-basis: 0;
      flex-grow: 1; }
    body.home address .usp, body.home .usps .usp {
      flex-basis: calc(50% - 1.5em); } }

@media (min-width: 768px) {
  body.home address {
    display: block; } }

@media (min-width: 992px) {
  body.home address {
    display: flex; } }

[class*="piktogramm-"] {
  padding-left: 2em !important;
  padding-top: .5em !important;
  padding-bottom: .5em !important;
  font-weight: initial !important;
  color: #000 !important; }
  [class*="piktogramm-"]:before {
    content: "" !important;
    padding: 0 !important;
    position: absolute;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    width: 3.5em;
    height: 3.5em;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    left: 0;
    top: 0 !important;
    margin-left: -2em !important; }
  [class*="piktogramm-"] h4 {
    margin-bottom: 0; }
  [class*="piktogramm-"] p a {
    text-decoration: none !important;
    color: #000; }
    [class*="piktogramm-"] p a:hover {
      color: #054687; }
    [class*="piktogramm-"] p a span {
      font-weight: 600; }

.piktogramm-maschine:before {
  background-image: url("/app/uploads/2017/07/Maschine.svg"); }

.piktogramm-roboter:before {
  background-image: url("/app/uploads/2017/07/Roboter.svg"); }

.piktogramm-kuehlkanal:before {
  background-image: url("/app/uploads/2018/03/kuehlkanal.svg"); }

.piktogramm-laser:before {
  background-image: url("/app/uploads/2018/03/laser.svg"); }

.piktogramm-durchmesser:before {
  background-image: url("/app/uploads/2020/11/Durchschnitt.svg"); }

.piktogramm-drehzahl:before {
  background-image: url("/app/uploads/2020/11/Drehzahl-Tacho.svg"); }

.piktogramm-achtung:before {
  background-image: url("/app/uploads/2020/11/Achtung.svg"); }

.piktogramm-gewicht:before {
  background-image: url("/app/uploads/2020/11/Gewicht-2.svg"); }

.piktogramm-hsk:before {
  background-image: url("/app/uploads/2020/11/HKS.svg"); }

.piktogramm-rundtisch:before {
  background-image: url("/app/uploads/2017/07/Rundtische.svg"); }

.piktogramm-spannmittel:before {
  background-image: url("/app/uploads/2017/07/Spannmittel.svg"); }

.piktogramm-drehdurchfuehrung:before {
  background-image: url("/app/uploads/2017/07/Drehdurchfuehrung.svg"); }

.piktogramm-messtaster:before {
  background-image: url("/app/uploads/2020/11/Messen.svg"); }

.piktogramm-lueftung:before {
  background-image: url("/app/uploads/2017/07/Absauganlagen.svg"); }

.piktogramm-kuehlmitteltanks:before {
  background-image: url("/app/uploads/2017/07/Kuehlmitteltanks-Spaenefoerderer.svg"); }

.piktogramm-sonstige:before {
  background-image: url("/app/uploads/2017/07/Sonstige-Optionen.svg"); }
